[2019-08-22 06:02] 3djc commented on #6654
You still haven't given any details as to what your problem is !

[2019-08-22 06:04] kaindub commented on #6654
When I try to read models and settings i get this screen
![image](https://user-images.githubusercontent.com/54387636/63489770-57782000-c4f6-11e9-91fe-31931916d088.png)

The models and settings do not load to the PC and the screen above  just stays

[2019-08-22 06:05] 3djc commented on #6654
But that screen doesn't come from 2.2.4 ! Could you take a screenshot of what actually happens using 2.2.4 ?

[2019-08-22 06:07] kaindub commented on #6654
Alright its not the screen from 2.2.4
But i dont know how to take a screen shot. But I can assure you that despite this being a screenshot from 2.2.3, This is what comes up for me except it says 2.2.4 on the title bar

[2019-08-22 06:07] raphaelcoeffic commented on #6654
@kaindub as it seems, the wrong radio profile is selected. Please select the right one (X9D+) and try again.

[2019-08-22 06:08] 3djc commented on #6654
Given he doesn't know how to take screenshots, we can't even assume this screenshot comes from his pc

[2019-08-22 06:09] kaindub commented on #6654
Ok pardon my ignorance. I have never had to select the radio  profile when I have updated Open Companion version.
How do i do that?

[2019-08-22 06:30] raphaelcoeffic commented on #6654
@kaindub Use the marked Icon ;-) The Tooltips are very helpful as well, use them! The one for that icon reads "Radio profile".

![IMG_7620](https://user-images.githubusercontent.com/1050031/63491234-f1b87380-c4b6-11e9-9c1d-0dea165bd6fb.jpg)

[2019-08-22 06:30] #6654 closed, assigned to nobody

[2019-08-22 15:22] bsongis commented on #4285
Random comments:
- the confirmation dialog has been removed (still some strings remaining if we really decide to remove it)
- I would like to have an icon in the bar (on Horus) when the external antenna is active

[2019-08-22 16:36] notlebowski commented on #6490
For what it's worth I agree that "source" and "destination" are open to interpretation.
The last time I used it my "best guess" was wrong.
local/remote would be fine. But other names could be fine too.

[2019-08-22 16:45] notlebowski commented on #6631
Both radio and companion are on 2.3 in my setup nowadays.
I am not sure when this conversion error happened.
Maybe I read a setup once after my radio was brought back to 2.2 because I had other conversion errors.
I can't read 2.2 otx files with Companion 2.3 at this moment.
This means I can't use the "compare tool" to verify my models.

At the moment I'm only reading setups in Companion from my ra

[2019-08-22 21:28] bsongis commented on #4285
@mhotar what about adding an icon on top of the RSSI bars on Horus (when the external antenna is used) ?
![image](https://user-images.githubusercontent.com/5603504/63551133-93ca7100-c534-11e9-8e14-8aa24ce9f3fd.png)

[2019-08-22 23:49] 404Error404 commented on #6606
hi, i just flash 2.2.4 on my xliteS and so i understand it was an arror.
where can we find the original firmware of xlite S pls ?
when i download opentx 2.2.3 it doesn't download 2.2.3 firmware and then no xlite S option... im lost

[2019-08-23 00:04] 404Error404 commented on #6636
pls where is the original xlite S firmware... i delete it and flash 2.2.4... big mistake... now i lost backlight and instant switch.... pls where is guenuine xlite S firmware....why it's so hard to find it ?

[2019-08-23 05:33] 3djc commented on #6636
Is it ? For year, OpenTX firmware have been  downloaded though companion, this is no change. Download companion 2.3, setup your radio type and your preferences, and download...

[2019-08-23 06:19] nitram509 commented on #6606
@404Error404 the original firmware you need to download from FrSky's website.
If you want to run OpenTX, please download "2.3" instead of "2.2.3" - because the 2.2.x releases don't support the Xlite S/Pro version.

[2019-08-23 07:12] #6631 closed, assigned to raphaelcoeffic

[2019-08-23 07:35] skaman82 opened #6657 "Nightly firmware download not working in companion"
Running Companion 2.2.4N707, have the checkbox for nightly buids checked, but getting an error trying to download the latest version.

Error transferring https://downloads.open-tx.org/2.2/nightlies/firmware/getfw.php?fw=opentx-xlite-multimodule-noheli-lua-flexr9m-en.bin - server replied: Not Found.

[2019-08-23 07:41] kilrah commented on #6636
And the one that was on the radio when you received it is in the downloads section for that radio on FrSky's website as you'd expect, what's hard about that?

[2019-08-23 07:45] kilrah commented on #6657
We had decided to disable nightlies for 2.2.4 since no more 2.2 release is planned.

[2019-08-23 07:47] 3djc commented on #6657
You should not be trying to download 2.2.4 nightlies, as no more devs is happening in 2.2 as we are not planning any new 2.2 version, as @kilrah just mentionned, I have hovewer re-enabled the download just to prevent the error

[2019-08-23 07:47] #6657 closed, assigned to nobody

[2019-08-23 08:38] skaman82 commented on #6657
@3djc thanks. I was actually just testing my new R9M Lite PRO module. But I still can't select any options for output power - just the frequency. When the R9M Lite PRO module will be supported?

[2019-08-23 08:46] kilrah commented on #6657
It will never be supported in 2.2, only in 2.3 which is currently available as nightly builds for testing on some radios.

[2019-08-23 08:48] skaman82 commented on #6657
@kilrah okay, good to know!

[2019-08-23 09:36] Mattybperth commented on #6171
hey what is the mod you did to change the colour is it easy please explain if possible

[2019-08-23 09:48] kilrah commented on #6171
Take the radio apart and replace the LEDs...

[2019-08-23 11:53] 404Error404 commented on #6636
im an idiot...
im looking for eeprom and firmware files where it's a bin and dfu files...
another mistake is download with compagnon that is not the right files for S version or it's nighlty one.
the right way is to use "transfer firmware" button on the left of compagnion and then select FrSky's website files for xlite S.
my radio working again. thanks.

[2019-08-23 12:01] 404Error404 commented on #6606
thanks for response,
my mistake is to use 2.3 nighlty for download.
the right way is to use "transfer" button on the left of companion and then select FrSky's website files for xlite S...
my radio work fine again, thanks.

[2019-08-23 16:06] Luznatural commented on #6257
I Continue interested in this issue

[2019-08-23 16:11] Luznatural commented on #6163
Thanks for moving this issue up in priority.

[2019-08-23 16:13] Luznatural commented on #5537
I am also interested in having this possibility for my Horus.
Thanks in advance

[2019-08-23 16:17] Luznatural commented on #5393
Any progress in this issue?
Thanks in advance

[2019-08-23 17:29] notlebowski opened #6660 "Play Value sometimes gives "zero" without any unit"
On my DLG setups I try to keep voice alerts to a minimum and extensively use a single momentary switch for multiple situations.

When I flip the momentary for less than 0.3s it will tell the value of timer1 (flight time) and the timer continues. If it's longer than that the timer stops. If it is held more than a second and a half, the timer resets to 0 and the prelaunch is started.

Most of the ti

[2019-08-23 18:19] lshems commented on #5537
Create to similar counters.

[2019-08-23 23:33] fabioeh commented on #5156
Would also like to see this feature implemented.

[2019-08-24 03:58] sly1231 commented on #5393
I read somewhere that you could create a text file and add it to the model file and it would come up as the opening screen.  Have not had the time to try it.  
    On Friday, August 23, 2019, 11:17:45 AM CDT, Luznatural <notifications@github.com> wrote:

Any progress in this issue?
Thanks in advance

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, o

[2019-08-24 07:20] kilrah commented on #5156
It is.

[2019-08-24 07:25] pompecukor commented on #5156
where bro?

[2019-08-24 07:26] 3djc commented on #5156
Radio work is done (but not merged yet), companion work still to be done. It should be in 2.3 when it releases

[2019-08-24 12:04] raphaelcoeffic commented on #6650
The issue was actually showing up on **any** momentary switch on **any** TX simulation.

[2019-08-24 16:28] raphaelcoeffic commented on #6638
@tricolil any new details or should we close?

[2019-08-24 16:29] raphaelcoeffic commented on #6624
@nitram509 I guess we’re done here? Let’s close then.

[2019-08-24 16:34] raphaelcoeffic commented on #6565
@dgatf we need more input, and something to reproduce, as it works for others.

[2019-08-24 16:36] mhotar commented on #4285
What would you like to display in case both antennas are used?
![extint](https://user-images.githubusercontent.com/6114100/63640150-33a30e80-c69d-11e9-9ec7-a72f038567d7.png)
I would say, the first colums is better because of the icon size (16x16), but i do not know how good the X10 LCD is. Let me know which set would you like in the png format.

[2019-08-24 16:40] #6397 closed, assigned to nobody

[2019-08-24 17:20] Berto105s commented on #6312
I have similar issues with companion 2.2.4 working with my Turnigy 9XR Pro. In addition, when I boot the radio I get "SD CARD ERROR, Expected version: 2.2v0021". I loaded the latest SD card contents before loading the latest opentx firmware 2.2.4. I did get an error about SAM-BA missing when trying to write the models I created but saw on youtube that selecting any exe, I picked simulator.exe, wou

[2019-08-24 17:44] kilrah commented on #6312
The order in inputs doesn't matter, that's not what defines what's on what. It's the mixer that does.

[2019-08-24 18:51] marcels71 commented on #6137
Just a question regarding Bluetooth module in X9E. Will again work in 2.3 like in 2.1.9? Now is BT module in X9E for nothing. Thanks for comment

[2019-08-24 18:55] Berto105s commented on #6312
Andre,

When companion 2.2.4 (using the wizzard) creates a model and then saves the
models to my 9xr pro, the aileron and rudder channels are swapped. They're
swapped before they're even written. If I create a model in my radio and
set the inputs and mixer for TAER everything works fine. Once I read them
into companion the inputs get changed to RETA in the INPUTS page.

I know I can specify these

[2019-08-24 18:58] kilrah commented on #6137
Were you doing something with it in 2.1?

The module in the X9E basically IS useless since it isn't compatible with anything else in the FrSky lineup.

[2019-08-24 19:08] kilrah commented on #6312
OK, can reproduce. Was OK on saving and the things get mixed on reading.

![Clipboard01](https://user-images.githubusercontent.com/6065069/63641704-314baf00-c6b3-11e9-82fe-da90dcc11053.jpg)

It was not clear becasue as mentioned the order of inputs doesn't matter, but you didn't say the source didn't match the input name anymore.

Also, closing companion with a 9xr-pro document open seems to make

[2019-08-24 19:40] Berto105s commented on #6312
That's it! That's exactly what I'm seeing. Sorry for the confusion.

On Sat, Aug 24, 2019, 2:08 PM Andre Bernet <notifications@github.com> wrote:

[2019-08-24 19:46] tricolil commented on #6638
Sorry, I'm in vacation, that's why I couldn't update with new data.
I'll be able to supply additional informations the first week of September.

Thank you again for your attention and support on this issue.

Il Sab 24 Ago 2019, 18:28 Raphael Coeffic <notifications@github.com> ha
scritto:

[2019-08-25 00:33] robertw2a opened #6663 "Some of the text and line colors change to white instead of black on Horus X10/X10S"
**General information**
OpenTX 2.2.4
Horus X10 and X10S
Using default theme.

**Describe the bug**
Some of the text and line colors change to white instead of black on Horus X10/X10S

**To Reproduce**
Steps to reproduce the behavior:

If you have INAV Telemetry LUA (1.7.1) on the display at any time during the current power up session it will cause some of the text, lines and graphic symbols to ch

[2019-08-25 06:32] RookFPV opened #6664 "Crossfire micro TX telemetry show wrong power value"
When I set Crossfire micro TX to 250mw, telemetry shows 0mw.

Crossfire micro TX 2.93 firmware
OpenTX 2.2.4
Taranis X9D Plus SE

[2019-08-25 06:34] 3djc commented on #6664
Are you talking about TPWR sensor ? I get the right values here, so we are likely to ned more details

[2019-08-25 06:43] RookFPV commented on #6664
When I set the crossfire 25mw or 100mw TPWR shows good, when I set the crossfire at 250mw TPWR shows 0mw.
it's a meter problem.

[2019-08-25 06:50] kilrah commented on #6664
TPWR displays what's received from the module, so seems to be more of an issue with the module. Is the module firmware up to date?

[2019-08-25 06:53] RookFPV commented on #6664
Yes, the current modul is the new hardware 1.03 firmware 2.93 ... many people on the TBS forum write about this problem after upgrading opentx 2.2.4

[2019-08-25 06:57] 3djc commented on #6664
Well I have a LITE, and can set it up to 2W and I still have proper TPWR, so it is very strange. BTW, can you point me to the forum you are refering to ?

[2019-08-25 07:01] RookFPV commented on #6664
The problem concerns only MicoTX and only opentx 2.2.4. if you want to check it out on the faceebok Group "TEAM Blacksheep LOUNGE" a lot of people write about this problem but no one knows solutions.
for example here https://www.facebook.com/groups/BlackSheepLOUNGE/search/?query=TPWR%20show%200mw&epa=SEARCH_BOX

[2019-08-25 07:06] 3djc commented on #6664
I don't do facebook, so that wont help me. Looking at the code, there is really no obvious change between 2.2.3 and 2.2.4 that  should create that.

Is 0 displayed at close range or at distance (I'm guessing the micro is adapting power too ?)

[2019-08-25 07:09] RookFPV commented on #6664
When I set the Crossfire micro TX to 250mw everything works the signal is stronger, the only problem is the TPWR indicator on telemetry which shows 0mw

when I set 25mw or 100mw TPWR shows correctly

[2019-08-25 07:15] 3djc commented on #6664
It would be interesting to know if it works with 2.3 nightlies, since we are not planning to release any further 2.2.x. Anybody in the facebook group tried that ?

[2019-08-25 07:21] RookFPV commented on #6664
The update for Crossfire micro TX, which allows the use of 250mw, was released in 2018.08.03.
and the OpenTX meter has not been adapted to it, only the TPWR meter does not work and only when it is 250mw, but you can see that the signal is stronger.
it's just a counter bug

[2019-08-25 07:23] 3djc commented on #6664
You are mixing things. From your own words, 2.2.3 was working fine, so there is no need to "adapt to it". There migh be a but either in OpenTX or Crossfire, but there is no need to change anything to support 250 (it already support 2000mw with LITE using the very same code)

[2019-08-25 07:26] RookFPV commented on #6664
Yes opentx 2.2.3 showed TPWR 250mw
openTX 2.2.4 shows 0mw
only 25 and 100mw shows correctly
The problem only applies to Crossfire micro TX

[2019-08-25 10:21] RookFPV commented on #6664
https://ibb.co/n8mrFmH image problem

[2019-08-25 10:48] kilrah commented on #6664
Nothing has changed in the affected code between 2.2.3 and 2.2.4
It's not an issue with displaying 250 since you say other modules work, and there is no difference between modules in opentx
So it seems to be a bug in the current micro tx firmware that causes it to send 0.

We'll talk to TBS about it.

[2019-08-25 10:59] RookFPV commented on #6664
It is possible that the fault is on the Firmware TBS  side, but from what you see 250mw increases the power of the transmitter, the picture shows the difference 1RSS & 2RSS after increasing the power, the drone was behind two walls.
Thanks all for help

[2019-08-25 11:02] kilrah commented on #6664
That doesn't mean in any way that what they send back on the telemetry necessarily matches.

[2019-08-25 11:04] RookFPV commented on #6664
People on the TBS forum write that you can use 250mw without any worries, they work well, only the meter shows 0mw

[2019-08-25 11:24] RookFPV commented on #6664
I assume the reason this happens is because when the Lua script was written the micro TX did not have 250mW as an option. So when the module reports it is on 250mW the Lua script (the translator between opentx and tbs) doesn't know how to show it.

[2019-08-25 11:32] 3djc commented on #6664
You assume a lot without the right informations. Lua is not involved here at all, and the value is displayed as sent (no translation of any kind). I have contacted TBS so we work together on this issue.

[2019-08-25 11:43] RookFPV commented on #6664
I'm not a programmer, I'm just speculating, I would like to help solve this problem, but the only thing I could do was to report it here, thank you for being interested in it, It is thanks to the opentx team that it can fly :-)

[2019-08-25 16:25] nitram509 commented on #6624
@raphaelcoeffic can be closed, yes.
Thank you all for you support.

[2019-08-25 16:25] #6624 closed, assigned to nobody

[2019-08-26 06:31] #6650 closed, assigned to raphaelcoeffic

[2019-08-26 07:06] raphaelcoeffic commented on #6663
@robertw2a The issue is that the script uses `setColor()`, which changes the system colors permanently (see https://github.com/iNavFlight/LuaTelemetry/search?q=setColor&unscoped_q=setColor).

This is actually only meant for changing the colors from within a LUA theme for the Horus, not for other scripts.

Please file an issue at https://github.com/iNavFlight/LuaTelemetry and link to this issue.

[2019-08-26 07:06] #6663 closed, assigned to raphaelcoeffic

[2019-08-26 07:17] raphaelcoeffic commented on #6472
@bsongis @3djc I had a look at where it is used, and it seems that internally, it is only used with the curve presets. In LUA, I cannot imagine someone using it, as it is really not nice for entering a parameter. So probably everyone made it differently.

Bottom line: what about just obsoleting that function?

[2019-08-26 07:19] 3djc commented on #6472
I opened it because I got informed that some fairly well known script was using it and failed with 2.3. And of course, I cannot remember which one :(

[2019-08-26 07:24] raphaelcoeffic commented on #6030
@elecpower Hey! It seems the necessary changes have already been implemented and merged. Can you please confirm that we can close this issue?

[2019-08-26 07:24] 3djc commented on #6472
Exemple is JFrickmann's DLG timing script

[2019-08-26 07:29] bsongis commented on #6472
please would you share the script so that we can think of a good solution?

[2019-08-26 07:31] raphaelcoeffic commented on #6472
@jfrickmann Jesper? Could you please jump in so we can find a good solution for your script?

[2019-08-26 09:34] 3djc commented on #6580
Issue replicated here, will  be working on it this week

[2019-08-26 10:25] kilrah commented on #6030
Yeah it was just not auto-closed becasue the ref was missing in the PR

[2019-08-26 10:25] #6030 closed, assigned to elecpower

[2019-08-26 11:59] JaceRyczak commented on #6664
I have this same issue on openTX 2.1.9 on my Taranis QX7.

[2019-08-26 13:32] lichtl commented on #6664
Maybe related to this?

https://github.com/opentx/opentx/blob/c9581630ffb8fc20e445ffc080debbe37aab155a/radio/src/telemetry/crossfire.cpp#L132

[2019-08-26 14:22] RookFPV commented on #6664
I would like to add a value and see if it works, but where do I look for the * cpp file?

[2019-08-26 14:57] kilrah commented on #6664
Yep it seems the power is an index rather than a value for some reason. So maybe adding a 250 at the end might work since they obiously didn't shift the values. Anyway better wait for TBS's answer so we're sure of how it's supposed to work and what other values might be needed.

[2019-08-26 15:35] jfrickmann commented on #6472
Thanks for the heads up, I was not aware that it is being removed. I can easily modify my scripts to not using it anymore.  I will put that on my to do list.

[2019-08-26 15:36] jfrickmann commented on #6472
You can find my programs and scripts here: https://github.com/jfrickmann/SoarOTX

[2019-08-26 15:51] #6664 closed, assigned to nobody

[2019-08-26 15:52] 3djc commented on #6664
So those pretending it was working in 2.2.3 where, well, not quite telling an accurate story. TBS confirmed they have added a value at the end of the list, fixing it in tomorows 2.3 nightly

[2019-08-26 15:53] RookFPV commented on #6664
Yes I said 2.2.3 was good and 2.2.4 was bad.Will this be corrected in the 2.2.4 release?

[2019-08-26 15:57] 3djc commented on #6664
No, it will  be fixed in tomorow 2.3 nightly. We are not currently planning to have a new 2.2x release, so not fixed there. since the next version will be 2.3, not 2.2.5 (unless a critical issue is found)

[2019-08-26 15:59] RookFPV commented on #6664
So flying at 2.2.4 and 250mw dynamic is safe ?
Anyway, thank you very much for your help :-)

[2019-08-26 16:28] 3djc commented on #6664
It is a display thing only, but you should be monitoring link quality and strength metrics

[2019-08-26 16:43] RookFPV commented on #6664
I wanted to make an informative setting
LO1 a=x 25mw play sound beep1
LO2 a=x 100mw play sound beep2
LO3 a=x 250mw play sound beep3
Now when I set LO3 a = x 0mw it will not be safe
This error complicates some radio settings

[2019-08-26 18:42] kilrah commented on #6664
Then wait for 2.3 and upgrade.

[2019-08-26 18:49] RookFPV commented on #6664
Probably still a long way before 2.3? but great that it will be fixed :)

[2019-08-26 20:11] raphaelcoeffic commented on #6472
@jfrickmann thx!

[2019-08-26 21:55] #3168 closed

[2019-08-27 04:01] CDM040971 opened #6666 "Taranis x9-Lite running on Nightly 2.3.0 - Need Multiprotocol for MPM Lite"
Hi Folks,
I seem to be stuck. Pascal has mentioned that I need to add Multiprotocol through companion to be able to use the MPM Lite Module.

I currently have the 2.3.0 N32 night firmware firsion running which provided ACCST D16 protocols.

How do I enable MULTI so that I can use this MPM Lite module?

Thank you
Chris

[2019-08-27 04:07] raphaelcoeffic commented on #6666
Please note this is not a support platform.

[2019-08-27 04:07] #6666 closed, assigned to nobody

[2019-08-27 04:09] CDM040971 commented on #6666
Thank you Raphael - Apologies. I incorrectly thought it was. Please could you point me to the support platform?

[2019-08-27 04:23] raphaelcoeffic commented on #6666
You should find good help on rcgroups.com or openrcforums.com

[2019-08-27 04:25] raphaelcoeffic commented on #6666
This is also a good place to start: http://rcdiy.ca/opentx-guide/

[2019-08-27 05:06] 3djc commented on #6666
Also worth noting that multimodule, crossfire and luac are now included by default in all 2.3 firmwares, and therefore do not appear in the list anymore

[2019-08-27 07:11] 3djc opened #6667 "x7 : 2.2.4 -> 2.3 won't turn on"
Starting eeprom:

[eeprom-x7-2.2.4.bin.zip](https://github.com/opentx/opentx/files/3544729/eeprom-x7-2.2.4.bin.zip)

Flash 2.3N69 (tested with opentx-x7-lua-en.bin)

Turn off radio

Try to turn on : you get shutdown animation and it power off

[2019-08-27 07:34] raphaelcoeffic commented on #6667
@bsongis I think that when loading the settings so early to have `pwrOnSpeed` & `pwrOffSpeed`, we should prevent any conversions and use default values (0) in case a conversion would be needed. Then, later, load the settings as we would have done before the "fast boot/shutdown" change.

[2019-08-27 07:35] bsongis commented on #6667
of course yes!

[2019-08-27 07:37] raphaelcoeffic commented on #6667
And on top of that, `eeConvert()` tries to raise a warning screen (and probably waits for confirmation....).

[2019-08-27 07:37] raphaelcoeffic commented on #6667
How naive I was for not thinking about that!!! Sorry guys!

[2019-08-27 08:20] #6667 closed, assigned to bsongis

[2019-08-27 11:04] kilrah commented on #6339
#5156 takes care of this

[2019-08-27 11:04] #6339 closed, assigned to nobody

[2019-08-27 11:29] raphaelcoeffic commented on #5134
Yes. We have unit tests for that now in 2.3 (incl. companion).

[2019-08-27 11:29] #5134 closed, assigned to raphaelcoeffic

[2019-08-27 11:41] raphaelcoeffic commented on #5436
works fine on 2.3, apart from the selected model that is not selected anymore once the model changes, but that's alright, nothing annoying.

[2019-08-27 11:41] #5436 closed, assigned to raphaelcoeffic

[2019-08-27 13:04] raphaelcoeffic commented on #5911
@MorganTr44 the issue here is that the framebuffer uses 1 bit per pixel, which means that it would require quite some shifting to write at a specific position. The draw routine is made to write into the frame buffer aligned on bytes, which is faster.

So, whereby it would be possible to "fix", this seems to me to be "by design", and as it is used everywhere, it would possibly move quite some stuff

[2019-08-27 13:05] raphaelcoeffic commented on #5911
here is the function for reference:
[code]

[2019-08-27 13:07] bsongis commented on #5911
I think we should keep the optimization when we are aligned, but in all other cases we should do the right job

[2019-08-27 13:08] raphaelcoeffic commented on #5911
Please note that this might change the position on the screen of quite some items in the 128x64 res.

[2019-08-27 13:24] bsongis commented on #5911
If this is the case, we could add another function, just used by Lua (which would call the current function in case alignment is good)

[2019-08-27 13:25] raphaelcoeffic commented on #5911
yes, I'd really prefer that!

[2019-08-27 13:33] Allerhopp opened #6670 "X9D 2.3N69 SensorID shows 3 digits on the radio / cosmetic"
![SensorID](https://user-images.githubusercontent.com/23188713/63775568-e662af00-c8df-11e9-98e7-486716871b45.jpg)

[2019-08-27 13:45] raphaelcoeffic commented on #6670
@Allerhopp this is absolutely normal. The instance ID now includes the module and (in case of ACCESS) the receiver concerned. The upper 3 bits of the ID might get updated based on the received telemetry packages.

You can convince yourself by checking that the sensor values are still updated when your model is powered.

[2019-08-27 13:45] #6670 closed, assigned to nobody

[2019-08-27 13:56] Allerhopp commented on #6670
OK, thanks. An explanation for the new feature is welcome. I have only one module active and no ACCESS radio but nevertheless 3 different numbers in the 3rd digit.

[2019-08-27 14:52] raphaelcoeffic commented on #6670
It's not about digits, it's about bits (unfortunately). So basically the first 5 bits are the instance ID, as it used to be (well, -1, as it now corresponds to what is really received), then 2 bits for the receiver ID and 1 bit for the module (0 internal, 1 external).

During the conversion to 2.3 on the radio, the upper 3 bits are all set, but it does not matter, just ignore them. We might actual

[2019-08-27 15:37] Allerhopp commented on #6670
OK, thanks again. From user view I would prefer module and RX information in the telemetry summary screen (see hardcopy) and additionally instance and ID in the sensor edit screen.

Btw. good to see, there is no more offset in instance ID.

[2019-08-27 15:44] #6054 closed, assigned to raphaelcoeffic

[2019-08-27 15:49] Allerhopp commented on #6670
Sorry, forgot there is another thing confusing users. It would be more clear, if instance ID/sub ID is named sensor ID. FrSky uses sensor ID or Physical ID.
And what is named ID in companion better name it data ID.

[2019-08-27 17:43] RipperDrone opened #6672 "OTX 2.3 Nightly, X9D+: Not enough memory on device"
When trying to download Taranis FW through OTX Companion Nightly 2.3 (PC = Win10 x64), the 'Downloading...' dialog box stays on the screen for ~30secs with no progress, then says there is not enough memory available on device.

I have ~50 models on my Taranis, ~1000 bytes free mem space shown on OTX 2.2.3. I thought that model memory and FW memory are non-shared so this shouldn't matter?

[2019-08-27 18:38] hrenz commented on #6581
Hallo Bertrand,
openTx v2.3.N68  X9-Lite (small display)

sorry, problem is not solved, look at screenshots
Wrong positinons of the name IGas IH8h, ISei, IQue
 and H8h insteed of Höh  (Elevator)

 mfgH.Renz

-----Ursprüngliche Mitteilung-----
Von: Bertrand Songis <notifications@github.com>
An: opentx/opentx <opentx@noreply.github.com>
Cc: hrenz <hrenz62961@aol.com>; Author <author@noreply.github.c

[2019-08-27 21:35] netzwergracer opened #6673 "OTX 2.3N69 on X9D+ SE shows jitter in RC"
**Describe the bug**
Jitter on the RC side on OpenTX 2.3N69 on X9D+ SE. Every 180ms a frame of 18ms is received.
Receiver is R9MM with R9M module. Both on latest firmware. FPort Flex.

**To Reproduce**
Steps to reproduce the behavior:
1. install OpenTX 2.3N69 on radio
2. Bind R9M module and R9MM receiver
3. set debug_mode = rc_smoothing_rate

**Expected behavior**
Smooth jitter-free RC input with

[2019-08-27 21:36] kilrah commented on #6672
Is the error on the radio or the PC? If on the PC you're probably trying to save the file to a location you don't have permission to write to or no space left. It's normal for nightly builds to take several minutes to download, the build process is slow.

Also once you have flashed the radio with 1000 bytes free the 2.2->2.3  model conversion is likely to fail since it needs free memory that is at

[2019-08-27 21:36] #6672 closed, assigned to nobody

[2019-08-28 04:14] twidgit opened #6674 "Betaflight LUA not supported on 2019 X9D+SE"
Betaflight LUA does not execute.

![63818431-d9e95100-c8f5-11e9-8f2c-1e5e1ee449b0](https://user-images.githubusercontent.com/36611506/63825436-aca99c80-c90f-11e9-8e40-fdcbec9b6016.jpg)

Steps to reproduce the problem:
Execute betaflight LUA

**General information**
 - OpenTX version (e.g. 2.3N69)
 - Hardware Frsky X9D+SE2019

[2019-08-28 05:05] 3djc commented on #6674
This is not related to OpenTX, but BF scripts

[2019-08-28 05:05] #6674 closed, assigned to nobody

[2019-08-28 06:57] bsongis commented on #6581
I just tested, I see no issue anymore, unless I didn't understand what you did.

![snapshot_01](https://user-images.githubusercontent.com/5603504/63832775-cda2d980-c971-11e9-928e-d18f4529dab2.png)
![snapshot_02](https://user-images.githubusercontent.com/5603504/63832781-d0053380-c971-11e9-8abd-a2e7fb1c14df.png)
![snapshot_03](https://user-images.githubusercontent.com/5603504/63832786-d2678d80-c971

[2019-08-28 06:57] #6581 closed, assigned to bsongis

[2019-08-28 07:04] 3djc commented on #6673
Have you configured failsafe the same way ?

[2019-08-28 08:07] bsongis commented on #6673
Are you using FPort? Would you please double check that the same module / same receiver / same everything doesn't have the same issue on X7? I just checked with FrSky the issue should be in the module, every 200ms (not 180ms). Would you please confirm to be sure we are on the right track?

[2019-08-28 08:15] bsongis commented on #6673
I close this issue, if everything above is true, it's not related to opentx

[2019-08-28 08:15] #6673 closed, assigned to nobody

[2019-08-28 08:17] #6609 closed, assigned to nobody

[2019-08-28 09:18] #6580 closed, assigned to 3djc

[2019-08-28 09:25] raphaelcoeffic commented on #5369
indirectly fixed by b836c947c219b41

[2019-08-28 09:25] #5369 closed, assigned to nobody

[2019-08-28 10:57] #5545 closed, assigned to nobody

[2019-08-28 13:24] twidgit commented on #6674
Thought so.  I opened a ticket on the Betaflight LUA page and Mikeller sent me here.

[2019-08-28 13:25] 3djc commented on #6674
I'll talk to Mike :)

[2019-08-28 15:59] 3djc opened #6679 "2.3 : need lua path tools for TOOLS"
We need to be able to create a ‘launcher’ that can chdir to a subdirectory and then launch a specific lua among several

[2019-08-28 17:41] lshems commented on #6663
You can work around this by storing the current color for a type using getcolor, changing it using setcolor, draw, and change it back to the stored color.

It seems to work for me.

[2019-08-28 19:15] raphaelcoeffic commented on #6663
@lshems yes, I was thinking about it (on the C side, restoring the colors after each LUA script execution cycle). But basically it is so much easier for the script itself to just specify the colors for each drawSomething call, isn't it? Or is there any downside? Are you actually using it? (I mean, `setColor`)

[2019-08-28 19:51] kilrah commented on #6663
He's using it the way he says, saving and restoring the color in the script.

[2019-08-28 20:31] lshems commented on #6663
Look, the idea of a color style sheet is nice. It allows for easy changing of themes, including custom widgets.

Only problem is that there is no style sheet documentation (which style does what) and I don't think it is followed properly even in the basic theme.

I have tried to use the style sheet elements, but to many style elements have the same color, and when I change them, the standard UI be

[2019-08-28 20:38] lshems commented on #6420
Check my blog for an easy way to save some settings and read them again, using a table structure in text format. https://www.rcgroups.com/forums/showthread.php?3129894-Easy-way-to-save-and-load-a-table-in-OpenTX-lua-scripts

How often do you want to change settings? let the user change the stored table. Not that difficult, but needs a pc, yes. (or phone with usb to sdcard file access)

[2019-08-28 20:45] raphaelcoeffic commented on #6663
That's true. Unfortunately, not something we can change for 2.3. But there will be a new color UI in 2.4, and I hope we can improve some stuf there. I'll have a look at your ideas for sure.

[2019-08-28 20:46] lshems commented on #6472
You can write a lua version of the popup input. Wasn't it used in the wizard? must be some code to be reused there than.

[2019-08-28 20:47] lshems commented on #6029
dangerous??

[2019-08-28 23:43] jfrickmann commented on #6472
I plan to do it the same way I have done the J programs - no problem!

————————
Jesper Frickmann

[2019-08-29 04:07] fabioeh opened #6680 "Xlite-pro Simulator Bug 2.3 S1 pot reversed needs to be 100 in the left position."
**Describe the bug**
Companion Simulator Xlite-pro S1 pot is reversed.
The left position produces -100 instead of 100.

**To Reproduce**
On Simulator hardware screen select debug and Anas.
Rotate S1 to the left. A5 will display -100

Repeat on the XLIGHT and A5 will display 100.

**Expected behavior**
Display A5 = 100

**Screenshots**

**General information**
 - OpenTX version (2.3 or N71)
 - Hard

[2019-08-29 07:05] KrestyD opened #6681 "Model Types for Robots would help the robotics community"
*Before suggesting a new feature here, please search the open issue if there is already a request for the feature*

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives y

[2019-08-29 07:10] KrestyD commented on #6681
Working with robotics we're stuck mapping channels to ailerons and the like.  And pretending tracked vehicles are v-tails or similar.  It's be nice if there was a model mode for robots (or maybe a couple).
Even if just the companion app wizards just providing a wizard for them but mapped the results as an airplane model in the transmitter, that'd still be helpful getting jumpstarted.

[2019-08-29 07:14] bsongis commented on #6681
Would you please list the modifications you would like? And describe which steps / question you would see in the "Robot" wizard?

[2019-08-29 07:39] raphaelcoeffic commented on #6679
I had the scripts moved to the TOOLS directory and it worked ok.

[2019-08-29 07:40] bsongis commented on #6679
Yes but some scripts come with a lot of subscripts, if we exported a sort of `chdir` function it would be nice

[2019-08-29 08:01] KrestyD commented on #6681
Sure, a rough take follows, but if this is feasible it might be best to do a better job collecting requirements :)

Add “Robot” to model type.  (Perhaps ground vehicle would be better)

1st wizard page for robot would be a drive type selection page

From there you need to query the drive type for the robot, common drive types for robots are
•	Car steering
•	Tracked vehicle
•	Holonomic

Car Steerin

[2019-08-29 10:42] alfskaar commented on #4640
So about 12.5 ms latency with the X Lite Pro and RXSR with access. would love to see how the crossfire is doing and Futaba.

[2019-08-29 11:08] kilrah commented on #4640
It's actually a bit lower now with the 1.1.3 access module/receiver firmware.

[2019-08-29 11:14] kilrah commented on #6681
For info you can rename all sticks/functions/etc already, so when you set things up manually you can name things as you want.

[2019-08-29 11:22] alfskaar commented on #4640
Yea I so the notes and was thinking it may be lower, super nice that you confirm it
"2019-08-12 v1.1.3  Further reduce the system latency." file: ISRM_P_190805.frk

[2019-08-29 11:39] azaz44 commented on #6420
It depends on the application. In some of them - very often.

From my point of view, using a PC is totally unacceptable. Having a separate standalone script with UI  - this works, but has major disadvantages, as I outlined above.

Why not just allow for more parameters? Not sure about other radios, but on Horus X10 it seems it is 6 just because more would need scrolling the screen.

[2019-08-29 19:42] kilrah commented on #6420
The limit is becasue we have to reserve number of options*number of possible scripts in model memory, which blows up quickly. If one script 5 people use needed 20 we'd have to reserve 20 for every script slot for everybody.

[2019-08-30 08:02] kilrah opened #6682 "Companion 2.2 x10->2.3 x10 express conversion loses home screen settings"
As reported here
https://openrcforums.com/forum/viewtopic.php?f=92&t=12142&p=146124#p146124

[2019-08-30 09:18] lshems commented on #6420
Create a GUI in LUA to adapt the table you store. Not that difficult, and if properly done, can be generic, using the same structure as for inputs, and adapt automatically to the number of parameters.

[2019-08-30 09:26] lshems commented on #6681
I am personally in favour of having opentx as a-functional as possible. That's the power of opentx.

What you describe here is the consequence of some leftover naming conventions, that can be overcome already, as stated by kilrah, by renaming them.

A wizard is only useful if you have very clear control mixing predefined, that doesn't change other than from input mapping perspective.

Otherwise yo

[2019-08-30 09:29] lshems commented on #6679
Al boils down to the script needing to know where to find subscripts.

I just create a Lua variable containing the root path. I would never use the chdir, as for me it would complicate things.

[2019-08-30 09:43] bsongis commented on #6679
How do you know the root path?

[2019-08-30 09:46] 3djc commented on #6679
Well, the intend is to be able to use scripts as they are (of course, with scripts rewrite, you can manage it).

[2019-08-30 09:48] bsongis commented on #6679
Yes, for me a chdir with a relative dir would be perfect, right?

[2019-08-30 09:52] 3djc commented on #6679
yes, so we can have a XfireLaunch.lua in /SCRIPTS/TOOLS that will perform a chdir to CROSSFIRE and then launch crossfire.lua (as an example)

[2019-08-30 10:23] strgaltdel opened #6683 "Companion: extended limits function becomes effective only after close and reopen model"
Companion:
(X12 config)

- start complete new otx and new category
- create new model
- checkmark extended limits
- try to enter max limits >100   >>no chance

- close model
- open model

i assume "extended limit" status isn't updated in active session.

seems to be an "older bug", but still active in 2.3n72

[2019-08-30 16:21] #1684 closed

[2019-08-30 18:37] lshems commented on #6679
Ok, relocating existing scripts is another use case. Makes sense there.

Sorry for not noticing that intend.

[2019-08-31 09:03] raphaelcoeffic commented on #6624
@nitram509 the page looks like it has disappeared. What happened?

[2019-08-31 09:56] kilrah commented on #6624
For some reason he renamed it, so it broke existing links... https://github.com/opentx/opentx/wiki/OpenTX-2.3-Docker-Build-Instructions

[2019-08-31 10:10] robustini opened #6689 "Problem when flashing the internal IXJT module on Horus X12S"
With OpenTX 2.3 N72 on my Horus X12S i've to insist a few times before flashing the internal IXJT module.
Here's what happens, sorry for the tilted video.
After repeated attempts I was able to write it only after having disabled it from the settings of the model.
The X12S firmware is downloaded from "Companion 2.3 N72" with multimodule, lua and luac enabled.
With N73 same issue.
Since compatible I

[2019-08-31 10:19] raphaelcoeffic commented on #6689
Seems really the reset is not done properly or something like that. When you switch the module OFF before, does it work every time?

[2019-08-31 10:24] robustini commented on #6689
Not always once done, but usually the first time yes, this is too random.
Sometimes after countless attempts the flashing process is ok even with the module enabled.
I hope this is my isolated problem, but I don't understand why only on my X12S...

[2019-08-31 10:27] robustini commented on #6689
Not knowing what OpenTX is going to do on the module before flashing it is not easy to understand what happens, it just does a reset and checks if the bootloader responds?

[2019-08-31 10:29] raphaelcoeffic commented on #6689
From what I can see in the code, yes, that what it looks like.

[2019-08-31 10:32] robustini commented on #6689
Well, but if the bootloader responds then the problem lies elsewhere.

[2019-08-31 11:37] kilrah commented on #6689
All of the devs have tested it and never had a failure, and we had no other reports, so could be something specific to that radio.
Maybe a cap is larger and the module needs to be turned off for longer for it to reset correctly, no idea...

[2019-08-31 11:45] robustini commented on #6689
@kilrah, does a single reset occur, or does it make multiple attempts until the bootloader responds correctly?

[2019-08-31 12:48] kilrah commented on #6689
Only one.

[2019-08-31 13:02] nitram509 commented on #6624
@raphaelcoeffic I renamed the page, because of feedback (see above)
"add the applicable Open Tx version(s) to the page title as the instructions can change between versions".

[2019-08-31 18:39] robustini commented on #6689
What do you think about repeating the reset until the bootloader responds, for at least a couple of seconds?

[2019-08-31 19:33] kilrah commented on #6624
OK, the index page wasn't updated for it though. Just did that.

[2019-08-31 19:41] kilrah commented on #6689
Don't think cycling power multiple times quickly is a good idea, and if the issue is a delay that's too short it wouldn't even solve the problem.
This has never been needed and updates have been supported for years.

[2019-08-31 20:15] Talha909 opened #6690 "X Lite Pro calibration problem after factory reset."
**Describe the bug**
I have installed the N73 in my Xlite Pro.  I did the factory reset.  Calibration screen appears after that.  I move sticks and there is nothing happening in my calibration screen. both sticks show calibration on right side but stick are in middle.

**To Reproduce**
Steps to reproduce the behavior:
1. Factory Reset.
2. Calibration screen
3. Move sticks but nothing happened
4. S

[2019-08-31 21:32] kilrah commented on #6690
Continue the process as you're told to.

[2019-08-31 21:32] #6690 closed, assigned to nobody

[2019-09-01 06:50] Diffy91 opened #6692 "Executable D;/sam-ba.exe not found"
Hi! I am new to the hobby, so sorry if I seem slow on the uptake! I was given a 9xr Pro and am looking to use it it with a r9m receiver and transmitter pair. I tried to install opentx today on 9xr Pro after installing the latest version of OpenTX Companion. However, when ever I try to write firmware to my 9xr Pro, it gives me this error code.

Executable D;/New folder/Companion 2.2/sam-ba.exe not

[2019-09-01 06:58] #6689 closed, assigned to nobody

[2019-09-01 07:09] raphaelcoeffic opened #6693 "Multiprocol module not properly initialised on boot"
**Steps to reproduce the behavior**

1. Configure a model that uses MPM
2. Reboot the TX
3. MPM does not get pulses.

**Screenshots**

This here is what is sent to the module after cold boot:
<img width="703" alt="Screen Shot 2019-09-01 at 08 26 49" src="https://user-images.githubusercontent.com/1050031/64072981-13c0ab80-cc98-11e9-94c2-875429d17332.png">
<img width="327" alt="Screen Shot 2019-09-0

[2019-09-01 07:34] #6683 closed, assigned to raphaelcoeffic

[2019-09-02 13:25] notlebowski opened #6699 "Companion 2.3 give "Can't extract Radio/Bin" whenever I try to open a 2.2.4 nightly OTX"
The attached otx-files can't be opened.

![cantextract](https://user-images.githubusercontent.com/39838998/64117533-b3b02f00-cd95-11e9-9b3e-476c7b40eb77.PNG)
[OTX.zip](https://github.com/opentx/opentx/files/3566184/OTX.zip)

[2019-09-02 13:29] #6693 closed, assigned to nobody

[2019-09-02 15:33] #6699 closed, assigned to nobody

[2019-09-02 16:19] bsongis commented on #6699
Please check after next nightly build, I have fixed an issue, and I am now able to open an eeprom generated with companion 2.2

[2019-09-02 16:27] bsongis commented on #6682
Please check again, this should be fixed now

[2019-09-02 16:27] #6682 closed, assigned to bsongis

[2019-09-02 16:36] notlebowski commented on #6699
OK, I will test that tomorrow...
If it works I will check my models for differences.
Beside 3 active models there should be no difference between what's on the radio now.

If there is, I will revert my radio to 2.2.4N705, load the setup from then and then perform a new radio conversion and check for differences.

[2019-09-02 16:42] 3djc commented on #6699
I have just lauched a nightly creation, should be up in 90minutes or so

[2019-09-02 17:21] P-I-Engineer opened #6701 "x9 lite 2.3 n73, cannot bind 9-16 with telem on"
choose bind 9-16 telem on

result: no telemetry

hardware/firmware:
x9 lite
opent tx 2.3 n73
d16 mode

[2019-09-02 17:50] 3djc commented on #6701
Receiver ?

[2019-09-02 17:54] P-I-Engineer commented on #6701
r-x6r

On Mon, Sep 2, 2019 at 10:50 AM 3djc <notifications@github.com> wrote:

[2019-09-02 18:21] Tiefflieger68 commented on #4838
is it still in scope ?

[2019-09-02 18:32] P-I-Engineer commented on #6701
i'll be trying jumper 1&2 and 3&4 and 1-8 telem on, to see if it follows the rx8r binding method.

[2019-09-02 18:34] raphaelcoeffic commented on #5911
@MorganTr44 Could you please upload such a pixmap? at the moment, I get only garbage with the current code and a 1bit bitmap (24x40) produced with Gimp.

[2019-09-02 18:34] kilrah commented on #6701
Recent receivers don't support the jumper method.

[2019-09-02 18:36] P-I-Engineer commented on #6701
ok, i'll wait then, thanks

[2019-09-02 18:37] P-I-Engineer commented on #6701
rf module is on 190605 firmware

[2019-09-02 19:36] notlebowski opened #6702 "Companion N75 can now read 2.2.4 setups from my X-Lite, but makes conversion errors"
Companion N75 can now read 2.2.4 setups from my X-Lite, but makes conversion errors.
These errors are similar to the conversion errors made by the radio, but not the same.

This is a follow-up of https://github.com/opentx/opentx/issues/6699
The xlite-19-07-06.otx is posted in that ticket.
Here's my current 2.3 setup
[19-08-31.zip](https://github.com/opentx/opentx/files/3566994/19-08-31.zip)

If I

[2019-09-02 22:53] raphaelcoeffic commented on #6693
fixed by bec4888

[2019-09-03 05:11] #5911 closed, assigned to raphaelcoeffic

[2019-09-03 06:16] #6702 closed, assigned to nobody

[2019-09-03 06:18] bsongis commented on #6702
I fixed an issue with all switches shifted (due to the introduction of 2 extra switches on XLite). One non regression test added, please tell me if anything is badly converted, I will fix and update the non regression test

[2019-09-03 06:20] bsongis commented on #6692
You can download sam-ba (+ config files) in the downloads section of open-tx.org

[2019-09-03 06:20] #6692 closed, assigned to nobody

[2019-09-03 07:16] notlebowski commented on #6702
I will test this when N77 becomes available.
If that looks good I will revert my X-Lite to 2.2.4, load a setup of July and do a radio-firmware upgrade.

With Companion 2.3N77 I will then load the July config and the one that I will read from the upgraded radio. If no differences are spotted with compare it's likely that conversion errors are of the past on an X-Lite....

A question:
I am currently

[2019-09-03 07:17] 3djc commented on #6702
yes

[2019-09-03 07:19] notlebowski commented on #6702
That's quick ;-)
OK....  Then I will experiment with my X12S today and check if my models are indeed properly converted. Do I need to wait for N77 for this or were the changes X-Lite specific (I believe it's the latter)?

[2019-09-03 07:21] 3djc commented on #6702
N77 includes fixes for xlite only, all others should be working fine (but we are still testing x9d2019 and x10-express)

[2019-09-03 07:22] notlebowski commented on #6702
OK...
Maybe I will also test my X9D+ which doesn't get any love since I bought my X-Lite.

[2019-09-03 08:07] MovingBush opened #6704 "QX7S Bluetooth Telemetry with FreeLink App"
Hello, I was wondering how to enable the Bluetooth option on the QX7S. Also, is the QX7 version of OpenTX 2.2.4 compatible for the QX7s? If not, could you please post a link to it? Thanks!!

[2019-09-03 08:10] 3djc commented on #6704
I'm sorry but this place is not one for questions and user support, but for bug tracking. Please go places like rcgroups or openrcforums for this types of demand.

Also, as you can see for yourself, the radio setup mentions both x7 and x7s
![image](https://user-images.githubusercontent.com/5167938/64155418-05f35d80-ce33-11e9-9c12-6c10c9db1203.png)

[2019-09-03 08:10] #6704 closed, assigned to nobody

[2019-09-03 10:58] dk7xe commented on #4285
@mhotar i agree the left column is my preference as well.

[2019-09-03 11:05] dk7xe commented on #4285
current funtionality is that Antenna setting is on model level.
To me that's sufficiant because i think there will be always an exception to the default that would require "Per model" on RADIO level.

Please do not forget the **both** option at least on MODEL and as selection when ASKed

MODEL (if per model)

    1. Internal
    2. External
    3. Both
    4. Ask

[2019-09-03 11:07] 3djc commented on #4285
Both doesn't mean anything on XJT, it is either int or ext. How it deals with that depends on exact xjt module, but there is no both option

[2019-09-03 11:49] notlebowski opened #6705 "Conversion of X12S from 2.2.4 to 2.3.0N76 goes wrong"
I took my 2.2.4 X12S and read the configuration with Companion 2.2.4N707
I saved it as 2019-09-03-2.2.4N704.otx

I then turned off the X12S and flashed it with 2.3.0N76 and turned it on.
The screen didn't inform me of any conversion taking place. This may be normal, but contrary to what's to be expected.

I immediately knew the setup was wrong.
Every 10 seconds I get the message "Throttle disabled

[2019-09-03 15:05] bsongis commented on #4285
Thanks @mhotar for the proposal, I just see it now! I do like the left bottom icon, I will take it (I need only one icon, there is no BOTH possibility)

[2019-09-03 15:07] bsongis commented on #4285
@mhotar I would need the png transparent icon, thanks again!

[2019-09-03 15:59] kilrah commented on #6682
Confirmed working by original poster

[2019-09-03 16:12] kilrah commented on #4285
Well the point is that on the x12 it's both and on the x10 it's ext only, so yes it kinda makes sense to use a different icon for each

[2019-09-03 16:14] 3djc commented on #4285
Then we also need to change the string to match int/ext/ask or int/both/ask depending on radio

[2019-09-03 20:40] 0815Creeper opened #6707 "x9e (emergency-mode and bootloder) self-initiated reboot fails"
**Describe the bug**
The transmitter does not turn back on again after watchdog reset or after pressing exit in the bootloader. First batches do not seem to be affected.

**To Reproduce**
Press exit from bootloder menue an check if transmitter turns on again or stays off.

**Expected behavior**
Transmitter turns on again normally (After bootloader-exit) or turns on again in emergencymode (after wa

[2019-09-04 07:16] notlebowski commented on #6705
Today I upgraded to 2.3.N78 nightly.

The RSSI that's on GF1 is now not read at all and becomes empty.
That's a bit strange as I believe there were only changes handling the X-Lite, but I'm probably mistaken there.

I'd like to stress that the changes in Global Variables are not the only changes.
Many other changes are in the individual model.
I'm only using these as an example.

**Companion 2.3N7

[2019-09-04 07:34] bsongis commented on #6705
@notlebowski did you start from badly converted models? or did you restore a backup? Reading an invalid file won't work!

[2019-09-04 07:43] bsongis commented on #4285
Agreed. I didn't have in mind that it was different on X12 / X10

[2019-09-04 08:25] 3djc commented on #6707
We have finaly found an X9E that does have the issue too, we are working on it

[2019-09-04 09:13] notlebowski commented on #6705
To paraphrase:
I had a "production" X12S which I didn't touch for several months.
I loaded its configuration before doing anything and saved it into the file 2019-09-03-2.2.4N704.otx

I then upgraded it to 2.3N76 which gave me an invalid setup.

I additionally wanted to note that there is more to it than just the radio conversion.

Because I was planning to test differences with Companion I also d

[2019-09-04 09:47] bsongis commented on #6705
ok, but did you restore your otx file before trying 2.3N78 ?

[2019-09-04 09:59] notlebowski commented on #6705
No, because when I read the original OTX file with companion I also see a lot of differences

If N78 has been changed regarding the conversion I can of course revert to 2.2.4, load my 2.2.4 setup and repeat the process.
I can do this early this evening

[2019-09-04 10:55] #6707 closed, assigned to bsongis

[2019-09-04 10:55] bsongis commented on #6707
yes ... mine :)

[2019-09-04 10:55] bsongis commented on #6707
I fixed 2.3 and I see the same issue is there in 2.2

[2019-09-04 11:16] bsongis commented on #6705
Here is what I see now when opening your .otx file

![image](https://user-images.githubusercontent.com/5603504/64250315-1597a280-cf16-11e9-9e52-0070d3afac49.png)

Please tell me what is wrong.

[2019-09-04 11:29] bsongis commented on #6705
I just checked the model "Escalibur" from your otx file. Everything seems perfectly displayed by Companion 2.3

[2019-09-04 12:43] notlebowski commented on #6705
OK.
I will repeat the upgrade process and check again with N78 this evening

[2019-09-04 14:20] 0815Creeper commented on #6707
great, thanks!

[2019-09-04 14:48] P-I-Engineer commented on #6701
updated internal module to isrm 1.1.3 and now working.
i'll close this. opentx is fine, it was the internal modules issue.

[2019-09-04 14:49] #6701 closed, assigned to nobody

[2019-09-04 14:53] LapinFou opened #6709 "Non translatable field in Companion"
Hi folk,

When using the simulator (tested on 2.2 & 2.3 branches), I realized than 2 fields are not translated (see red rectangles on attached snapshot).
They are not declared as "Translatable", since I can't see them in the **companion_XX.ts** files.

![tmp](https://user-images.githubusercontent.com/1685030/64266146-674f2580-cf34-11e9-9d96-bbc709df9a36.png)

[2019-09-04 16:00] notlebowski commented on #6705
What you proposed...
Reading my 2.2.4 setup with Companion 2.3N78 and flashing it on a 2.3N78 radio gave me a setup that was almost identical. The only reason it's not identical is Companion adding switch warnings for SI and SJ.

I didn't think this was thorough enough, so I reverted to 2.2.4 and let the radio do another upgrade and then compare the results.
Now SI and SJ are not added as warnings

[2019-09-04 16:15] notlebowski commented on #6705
[OTX-2019-04-09-companion.and.radio.conversion.zip](https://github.com/opentx/opentx/files/3575468/OTX-2019-04-09-companion.and.radio.conversion.zip)

Strangely enough I could only see differences in the 1st model Excalibur.
I did not check all models, but at least 4 more.
I used the "compare models" feature for this.

2.3.0N76 made a big mess, but this one is almost flawless.
That only 1 model ha

[2019-09-04 18:02] bsongis commented on #6705
Thanks for your patience
So here is the state now:

1) Companion conversion introduces switch warnings on SI and SJ
2) Radio conversion introduces a shift of 6 in the timers trigger
3) Radio conversion looses the unit "V" ?

I don't agree for the RSSI External comment, but I will let others comment on it before deciding anything.

Agree that N76 was a big mess, we tested it on X10 ... X12S would h

[2019-09-04 18:22] 3djc commented on #6705
I don’t think it is our role to guess on rssi source. Leaving it empty is a valid choice. If you want to set a specific source, then by all means do it. Anyhow it probably won’t be necessary when converting a model since that need did not exist before ACCESS

[2019-09-04 18:30] notlebowski commented on #6705
Shouldn't that be a reason to agree that "RSSI External" should be chosen when an ACCST model is converted. Or is that what you're saying?

@bsongis   yes, that summary is correct.

Do note that the conversion of the timer switches went correct on most (if not all) models beside the first model.
Only the Excalibur had suddenly different triggers for Timer1 and Timer2.

It may be related to being t

[2019-09-04 18:34] 3djc commented on #6705
No I.m saying it should be left untouched, and that it will keep working as before

[2019-09-04 21:30] craigywsm commented on #6610
Hi,
just keeping up with things and noticed that crossfire option has
disappeared from the latest nightly companion.
Please can you let me know what the issue is?

Kind Regards,

*Craig Reynolds*

On Thu, 15 Aug 2019 at 09:59, 3djc <notifications@github.com> wrote:

[2019-09-04 23:01] kilrah commented on #6610
None, it's just always included now.

[2019-09-05 00:13] tricolil commented on #6638
Hi
   sorry for the late update.
I took some time more to make some tests.
I tried to install again the 2.2.4 fw but the problem didn't come up again
even after some trials.
Actually, I changed the SD card (the one used last time was lost) so I have
the suspect that the SD card poor performances were causing the audio issue.

Let me thank you again for your support.

Kind regards
Luca

Il Sab 24 A

[2019-09-05 00:21] #6638 closed, assigned to nobody

[2019-09-05 05:44] bsongis commented on #6705
Issue 1. bis) SI and SH should be marked as "None" in RADIO / HARDWARE I think

[2019-09-05 06:08] #6705 closed, assigned to nobody

[2019-09-05 06:33] craigywsm commented on #6610
I have just updated and the crossfire tick box is missing. Will it come back?Kind RegardsCraigSent from my Samsung Galaxy smartphone.
-------- Original message --------From: Andre Bernet <notifications@github.com> Date: 05/09/2019  00:01  (GMT+00:00) To: opentx/opentx <opentx@noreply.github.com> Cc: craigywsm <craigywsm@gmail.com>, Author <author@noreply.github.com> Subject: Re: [opentx/opentx] Ne

[2019-09-05 06:35] 3djc commented on #6610
Please read my comment just above. It will NOT come back, because Crossfire and multi are now part of every firmware, no need to tick it anymore

[2019-09-05 06:52] craigywsm commented on #6610
Great thanksKind RegardsCraigSent from my Samsung Galaxy smartphone.
-------- Original message --------From: 3djc <notifications@github.com> Date: 05/09/2019  07:35  (GMT+00:00) To: opentx/opentx <opentx@noreply.github.com> Cc: craigywsm <craigywsm@gmail.com>, Author <author@noreply.github.com> Subject: Re: [opentx/opentx] New Taranis X9D PLUS SE 2019 on 2.3 no crossfire support (#6610) Please rea

[2019-09-05 08:38] putimir opened #6712 "Horus X10 not forwarding Crossfire telemetry to the internal BT module"
With (my) Horus X10S/w TBS Crossfire Micro TX module, when enabling the internal BT module, the telemetry data is not forwarded to/transmitted from the internal BT module. The feature however works fine, when using internal radio, receiving s.port telemetry data.

Steps to reproduce the behavior:
1. Use Frsky Horus X10(S) transmitter with TBS Crossfire Micro TX module
2. Have a working connection

[2019-09-05 10:16] davwys commented on #6712
To add to this:
I have successfully tested FrSky's own TX modules such as the XJT or the R9M to work in this manner with the Horus and found that they forward telemetry via the Horus' built-in BT module - so this problem is most likely exclusive to third-party modules like the Crossfire.

[2019-09-05 10:26] putimir commented on #6712
Thank you for rapid collaboration, @davwys, thanks for additional data, I don't own other Frsky modules; to add: I'd be using this to feed the data to the u360gts tracker: https://github.com/raul-ortega/u360gts/tree/master/wiki

[2019-09-05 10:36] kilrah commented on #6712
The telemetry output from OpenTX will be straight Crossfire which that project doesn't support, so work will be needed there too.

[2019-09-05 10:38] 3djc commented on #6712
I will do that change, but as serial, we will output data in Crossfire native format (as we do output FrSky telem in their native format)

[2019-09-05 10:38] davwys commented on #6712
The project's author is currently working on CRSF telemetry implementation (and has already uploaded videos of it working), I'm assuming it will work soon - so that shouldn't be an issue.

[2019-09-05 10:41] putimir commented on #6712
@kilrah: just as davwys said: the implementation of the XF for that project is in beta stage, so, this solution will be most certainly beneficial!

https://www.facebook.com/groups/u360gts/permalink/2818315331572720/

[2019-09-05 11:48] 3djc commented on #6712
xfire telem comes at a really fast rate, it will be interesting to see if a BT ble link can cope with it

[2019-09-05 12:40] #6712 closed, assigned to 3djc

[2019-09-05 12:43] 3djc commented on #6712
Will be in tomorows 2.3 nightly

[2019-09-05 13:58] putimir commented on #6712
Regarding bandwidth: good point; it is already suggested (https://github.com/raul-ortega/u360gts/issues/47#issuecomment-522525250) that the internal baud rate is limited to 115200; but I'm more than happy to test all the scenarios!

[2019-09-05 17:15] #6330 closed, assigned to bsongis

[2019-09-05 17:15] bsongis commented on #6330
Done

[2019-09-05 17:15] bsongis commented on #4958
Done

[2019-09-05 17:31] #4285 closed

[2019-09-05 17:32] bsongis commented on #4285
@mhotar I will commit a small icon which is far from perfect!

[2019-09-05 18:47] unipheas opened #6714 "Future update requirements"
https://developer.apple.com/news/?id=09032019a‬

[2019-09-05 19:35] bsongis commented on #6714
for Raphael ;)

[2019-09-05 19:45] raphaelcoeffic commented on #6714
@unipheas as far as I could read, it seems this only applies to signed code, which is not the case for Companion. I hope they keep the explicit whitelisting (right-click on the app to start, confirm the exception) as it is right now.

[2019-09-05 19:52] unipheas commented on #6714
Okay ... I figured I’d make you guys aware in case there are problems in the future.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-05 19:55] raphaelcoeffic commented on #6714
@unipheas fingers crossed! otherwise we won't be the only ones in trouble... Don'T want to shell out the 100$/year for signing the code...

[2019-09-05 20:00] unipheas commented on #6714
If need be I’d be willing to donate my account for the cause, just let me know.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-05 20:00] #6714 closed, assigned to raphaelcoeffic

[2019-09-06 06:13] putimir commented on #6712
YESS! Getting data! I'm using 115200 baud on the XF module. Will try later with 400000 baud. Here is the captured data, in case someone cares to take look if it is sane and usable...
[btlog.log](https://github.com/opentx/opentx/files/3582390/btlog.log)

Thank you @3djc!

[2019-09-06 07:32] notlebowski commented on #6705
I repeated the upgrade procedure with nightly 2.3.0N80.
The only difference compare could detect was the absence of the unit "V" in the Cells section of the Excalibur (1st and default model).
On the Me262 which also sports a FLVSS-sensor this isn't the case.

When I run the simulator and check the telemetry field there's no unit on either config (loaded 2.2.4 and 2.30).
When I read "2019-09-06-rea

[2019-09-06 07:33] robustini opened #6715 "2.3: external antenna for Horus X12S"
For Horus X12S i don't see the possibility to select the "INT+EXT" or "INT" antennas in OpenTX V2.3, present instead in 2.2.4.
Is it something not yet implemented or a lack?
Thank you!

Marco

[2019-09-06 07:36] notlebowski commented on #6705
BTW....
Converted models now suddenly have no RSSI source.
Does this mean they will have no RSSI-warning until they explicitly set this before flying?

Are there going to be warnings that this is the case?
If it was "RSSI external" on all models before 2.3, what's wrong with setting that?

[2019-09-06 07:42] 3djc commented on #6705
No, no RSSI source means it works as before (2.2.x and before). I'm thinking maybe we should hide that settings altogether unless two valid telem source are active

[2019-09-06 07:43] notlebowski commented on #6705
The previous errors related to wrong switches for timer1 and timer2 also affected only the first model.
This was solved after a firmware change. (N78 => N80)

2.2.4N707 reading the 2.2.4 config (model **Excalibur**)

![Companion 2 2 4N707 reading 2 2 4 config](https://user-images.githubusercontent.com/39838998/64410199-cb83fd80-d08a-11e9-813c-e9143d4033e2.JPG)

2.3.0N80 reading the 2.2.4 config (m

[2019-09-06 07:46] kilrah commented on #6715
Currently being reworked in #6656

[2019-09-06 07:46] #6715 closed, assigned to nobody

[2019-09-06 07:57] notlebowski commented on #6705
Intuitively one would think that "no RSSI" was selected.

[2019-09-06 08:02] notlebowski commented on #6705
Hiding settings based on config is IMHO a bad practice.
People (at least I) store images of screens in their brain and hiding stuff confuses.

The AVM Fritz!Box, which I know very well, does this a lot and a colleague of mine often is unable to find certain settings.

[2019-09-06 10:30] jj-uk commented on #6327
stale-bot bump.

[2019-09-06 12:11] #6360 closed, assigned to nobody

[2019-09-06 17:00] robustini commented on #6518
I simply enable the external module to have the active power on the appropriate connector, in the end it is the same thing.
I put the receiver inside the module housing, with a female servo socket glued to the upper edge of the housing, so that by removing the male plug I can still install an external module.

[2019-09-06 23:34] athertop opened #6716 "2.3: X9D+ simulator on Mac -"
Spotted an issue with companion Taranis x9d+ simulator both in nightly 70 and 71 and still exists in today's nightly - all related to Mac versions. I am using v20 sd card contents, and if I go into radio menu on simulator and to the new Tools page, I see the tools listed for a few moments (think there are 4 or 5 scripts listed, inc SxR, etc) then the screen blinks and those lines are replaced by a

[2019-09-07 07:09] 3djc commented on #6716
Mac related, doesn't appear on Linux or Windows

[2019-09-07 08:19] uragano47812 opened #6717 "[2.3N81] Telemetry not working (ISRM ACCST D16)"
**Describe the bug**
Telemetry is not working (using ACCST D16 with last 1.1.3 firmware module). The radio doesn't see the sensors and can't find any new sensors with the discover function. Only RSSI is reported and even not the RXbat showing. I tried with different sensor like Frsky 150A sensor and Unisens-E sensor.

**I tested with N79 and it was working**

**To Reproduce**
Steps to reproduce th

[2019-09-07 08:29] notlebowski opened #6718 "X9D+ conversion errors in 2.3.0N81"
After the X-Lite and X12S I tested my third and last Frsky radio, the X9D+
I have no more radio's to test and it turns out that all different models should be tested with real-life setups to expose any changes. On version N81 the X-Lite converts correct and although the ticket of the X12S is already closed I still see a difference that worries me. Not for the issue itself (the loss of the unit "V"

[2019-09-07 09:16] athertop commented on #6716
On the same Mac, I have Win10 running as a VM inside VMWare Fusion. I installed the N80 version in Windows and a fresh copy of the SD Card, and see this following the same clicks to get into Simulator Tools page:
![Capture](https://user-images.githubusercontent.com/11801237/64472563-52eb7280-d158-11e9-8c46-40fa4755c13a.JPG)
In this case, only the Tools page gets corrupted and I can happily access

[2019-09-07 09:17] 3djc commented on #6716
Then I need to understand why I can"t reproduce, will investigate

[2019-09-07 09:23] athertop commented on #6716
To reiterate the process I follow which leads to this for me:
New install of Companion
Launch Companion
Configure Profile for X9D+ pointing at SD card contents
Make sure LUA option is selected (I know this is just for firmware download but its what I have. Edit: tried without this and as expected, no change to issue without lua)
Then close and relaunch companion
Click + on toolbar to open a new wi

[2019-09-07 09:57] aussiepage opened #6719 "X10s Express - Selecting Multi mode causes crash and Emergency Mode"
When trying to set external RF module to Multiprotocol the radio immediately reboots into Emergency mode (either with or without module installed).

Testing module using PPM works.

**To Reproduce**
1. Select External RF module
2. Scroll through options until CRSF option seen - all good to this point.
3. Scroll to next selection - Multimodule.
4. Screen briefly flashes Multimodule and then radio r

[2019-09-07 11:11] #6717 closed, assigned to bsongis

[2019-09-07 13:29] Steini63 opened #6720 "Strange handling of FlySky telemetry data"
Hello from a big openTX fan!

I've constructed a diy converter for outputting blheli_32 telemetry data to FrSky (D8 or SPort) or FlySky (iBus) and display that in an openTx Transmitter. For details  see https://www.franksteinberg.de/BLHeliTelemetryFeeder.html (german only - sorry).
Everything works in principle, but I found strange calculations of some metrics in the FlySky iBus telemetry (unlike

[2019-09-07 14:36] kilrah commented on #6720
There is little support for FlySky telemetry, just the basics. The only sensors that are handled are here:

https://github.com/opentx/opentx/blob/2.3/radio/src/telemetry/flysky_ibus.cpp#L52

[2019-09-07 18:19] #6719 closed, assigned to bsongis

[2019-09-07 19:44] Quadpilotman opened #6721 "X10s Express - Text viewer crashes and causes a freeze"
When scrolling through the readme.txt in the firmware folder scrolling down causes a screen freeze

To Reproduce

Download the access firmware zip from the frsky site.
Unpack the files and copy over to the firmware directory on the sdcard.
Select radio setup menu with long sys key press.
Select the  SD-HC card with one short press.
Scroll down with the wheel to the FIRMWARE folder and select.
Scro

[2019-09-07 19:54] Quadpilotman opened #6722 "X10s Express - Cannot flash internal module with latest update"
When trying to flash the internal module with the latest update from Frsky an error is reported and the module is not flashed.

Steps

Download latest module firmware from the frsky site  ISRM V1.1.3
Enter radio setup
Select sd-hc card
Scroll to FIRMWARE folder and open.
Select ISRM_S_X10_190805.frk
Select Flash Internal Module

Receive Firmware update error  - Device not responding

General infor

[2019-09-07 21:23] Talha909 commented on #6717
same issue faced by me.

[2019-09-08 02:01] Arizona5318 opened #6723 "Companion Czech translation broken on Mac, language menu not present - untranslated items seem to simply not show up on Mac"
Every time I open OpenTX Companion it open in a foreign language (not english) which I can not read.
When I try to switch it back to english it remains in the foreign language.
I have removed OpenTX from my MacBook Pro several times, however when I reload OpenTX (ver. 2.2) it reloads in a foreign language and not english.
I also reloaded an older version from a previous back up hard drive and it l

[2019-09-08 05:56] kilrah commented on #6723
![Clipboard01](https://user-images.githubusercontent.com/6065069/64484136-2f82ff00-d20e-11e9-8ee4-ee641abd785d.jpg)

[2019-09-08 06:45] 3djc commented on #6717
This should now be working in N82

[2019-09-08 12:27] Arizona5318 commented on #6723
I am using an Apple MacBook Pro note book computer running IOS operating system.
Is the above screen shot from a PC Windows computer or from an Apple computer?
I do not recognize the screen shot being from an Apple computer.

[2019-09-08 12:28] 3djc commented on #6723
It is exactly the same screen on Apple computers, this is inside Companion

[2019-09-08 12:31] Arizona5318 commented on #6723
My problem is all the menu tabs and menu drop downs are in a foreign language that I cannot read I require assistance getting to the correct tab and item on the drop down menu.  Can you guide me to the screen shot provided.

[2019-09-08 12:37] 3djc commented on #6723
Even in foreign language, the menu are is the same order/place

[2019-09-08 12:48] Arizona5318 commented on #6723
I have attached a screen shot of the first page of Companion when it opens, can you guide me to the first tab to select.
![Screen Shot 2019-09-08 at 6 42 39 AM](https://user-images.githubusercontent.com/55038789/64488389-9ef3f100-d204-11e9-9db4-b52e04fd96ac.png)

[2019-09-08 12:55] kilrah commented on #6723
It's the same on all systems. Browse the items in the menu bar until you find one that looks like it and has the language list in a submenu.

[2019-09-08 13:06] Arizona5318 commented on #6723
I have attached screen shot of the first level of drop downs from the five top line tabs.
I have gone thru all of the drop down menu items, any suggestions which drop down menu item to try?
![Screen Shot 2019-09-08 at 6 59 46 AM](https://user-images.githubusercontent.com/55038789/64488596-1dea2900-d207-11e9-8e25-9f5cc16ca973.png)
![Screen Shot 2019-09-08 at 7 00 08 AM](https://user-images.githubus

[2019-09-08 13:19] kilrah commented on #6723
You're using 2.2.0, start by upgrading to 2.2.4.

[2019-09-08 13:37] Arizona5318 commented on #6723
On Sept. 8, 2019 Robert M...  wrote...

Hello Andre B...

Thank you for providing me with assistance to sort out this foreign language issue on my Companion.  I have been using Companion for two years, it has run flawlessly until about one + months ago.  That is when strange error messages would pop up upon opening Companion.  They did not appear to be any thing serious so I did not record them.

[2019-09-08 13:54] Arizona5318 commented on #6723
I have up graded to 2.2.4.  Here is a screen shot of the opening screen.
Any suggestion were to try to find the menu relating to language?
![Screen Shot 2019-09-08 at 7 52 11 AM](https://user-images.githubusercontent.com/55038789/64489231-dca94780-d20d-11e9-9dc5-4d57800ed427.png)

[2019-09-08 14:08] kilrah commented on #6723
Looks like the Czech translation is broken and not all menus are present.
Close companion, in the Finder browse to ~/Library/Preferences and delete the file "com.opentx.Companion 2.2.plist".

Relaunch companion and all settings will be reset to defaults. Don't select Czech again in the menu for now.

[2019-09-08 15:33] Arizona5318 commented on #6723
On Sept, 8, 2019 Robert M.. wrote...

Hello Andre B...

I have search for the "com.opentx.Companion2.2.plist"  as well as "com.opentx.Companion2.2.4.plist" and have not found a copy of either file.  I also just searched for "plist" found many "plist" files however did not come up with the file you mentioned.

Any suggestion.

Cheers

Robert M..

&&&&&&%%%%%%$$$$$$$$$$$#

__________________________

[2019-09-08 16:17] br34k0r commented on #6722
Same issue here...

Also I'm not able to bind any receiver

[2019-09-08 16:30] Quadpilotman commented on #6722
I have bound in D16 mode no problem but have not tried access yet

[2019-09-08 16:33] br34k0r commented on #6722
I see you also have the X10S Express. Did you use "FrSky Horus 10/10S" or "FrSky Horus 10 Express" as Transceiver?

[2019-09-08 16:59] Quadpilotman commented on #6722
I used the Horus 10 express option as this matches my transmitter and will support the access protocol.

[2019-09-08 17:11] kilrah commented on #6723
Did you correctly go to `~/Library/Preferences` and not `/Library/Preferences`?

If yes try following what's mentioned there:
https://forum.qt.io/post/203260

Log out, log back in, file should be there, delete it, log out and back in again.

If it still didn't get there do the mentioned "killall -u yourusername cfprefsd" in the terminal.

[2019-09-08 17:19] bsongis commented on #6722
This file should be .frsk, not .frk

[2019-09-08 18:30] Steini63 commented on #6720
Thanks for the link, I looked at the source code (as far as my limited knowledge of C has made possible).

First of all for clarification: Values ​​are displayed for all sensors of my converter. Only the subsequent calculation of RAW values ​​by openTX (multiplier) is strange.

1. RPM calculation for FlySky iBus:

Here I would like to express a supposition:
In the source text of "flysky_ibus.cpp"

[2019-09-08 18:36] Quadpilotman commented on #6722
oh ok I will try it.  Note  the  .frk extension is present in the download zip from the x10 express downloads page

[2019-09-08 18:42] Quadpilotman commented on #6722
Ok I have changed the extension to .frsk now when I select it it just offers Copy Rename Delete as options

[2019-09-08 18:57] kilrah commented on #6720
Yes

It's the case already, you should be able to change the sensor unit to RPM and the ratio/offset should become multiplier/blades.

I would expect:
displayed value = RAW value * multiplier

That's a relic based on the way FrSky's analog values work since the D8 system 10 years ago, they're raw 8-bit values that need to be translated to a user unit. User chooses "what 255 means" (aka they enter

[2019-09-08 18:59] kilrah commented on #6722
Renaming will not work, it's a different file type altogether. FrSky just posted the wrong file.

[2019-09-08 19:01] Berto105s commented on #6312
Andre,

Is this problem being worked on for the next version of Companion?

Thanks,
Kevin

On Sat, Aug 24, 2019, 2:40 PM kevin bertorelli <kbrrtorelli@gmail.com>
wrote:

[2019-09-08 19:09] Quadpilotman commented on #6722
Well you are right about that , however I assume that file would work using FrOs or is that incorrect?

[2019-09-08 19:13] kilrah commented on #6312
Nobody has taken on working on this at this point, but it's been added to the long list of things to do.

[2019-09-08 19:46] Berto105s commented on #6312
Okay, I'm new to the forum so I wasn't sure how these problems get solved.

Thanks Andre!

On Sun, Sep 8, 2019, 2:13 PM Andre Bernet <notifications@github.com> wrote:

[2019-09-08 21:05] Arizona5318 commented on #6723
On Sept. 8, 2019 Robert M.. wrote...

Hello Andre B...

What does the character (~) proceeding the /Library/Preferences stand for?

I did not include anything prior to the /Library.

Let me know

Cheers

Robert M...

%%%%%%%%%%%%%%%$$$$$$$$$$$$$$$$$$$$$$$$$

________________________________
From: Andre Bernet <notifications@github.com>
Sent: September 8, 2019 11:12 AM
To: opentx/opentx <opentx@nor

[2019-09-08 21:37] OldGazer opened #6724 "TH9x with AR9x Board "hangs" at startup logo."
Radio works fine running Er9x and latest OpenTx 2.2.4.  Flashed with latest 2.3.0N80 nightlie, radio hangs at startup.  I have tested this with an SD card and without an SD card.  I have done a full chip erase and flashed  2.3 using SAM-BA, and the radio does not boot or display the startup logo.

Oddly enough I can put the AR9X into bootloader mode and I can flash with 2.2.4 from an SD card and t

[2019-09-09 01:15] MRC3742 commented on #6718
I can confirm the above problems on EEPROM conversion in radio X9D+ (Not 2019 version) after update from v2.2.4 to v2.30N82.

"I found that the X9D+ loses its curves in INPUTS" (on Throttle Input)
( Although my Custom curves are still retained. )
"So models having Expo on 2.2.4 will have none in 2.3.0N81"
"The other difference detected by "Compare models" are the 2 bar attributes for "Volts source

[2019-09-09 05:19] notlebowski commented on #6718
Strangely enough mine didn't produce offset changes and also cleared the custom curves.

I quickly checked the radio itself before I went to work to see if "compare models" missed it, but no. It wasn't on the radio either.

[2019-09-09 06:18] RealTadango commented on #3987
This would still be usefull for those indoor or night flying sessions ;) Using a pot or per model setting is still very welcome.

[2019-09-09 07:53] bsongis commented on #6722
FrSky just updated the firmware, please confirm it is OK now, thanks!
https://www.frsky-rc.com/horus-x10s-express/

[2019-09-09 07:53] #6722 closed, assigned to nobody

[2019-09-09 08:44] kilrah commented on #6723
It means "your home directory".
If you don't put it you get into the "global" system preferences folder. With it you get into your own user account's system preferences folder. The companion preferences are in the latter since they are user-specific.

[2019-09-09 10:45] Quadpilotman commented on #6722
Hi
Just tried this it still does not work seems to me it's the same file maybe i will do a file compare just to see.

[2019-09-09 11:02] Quadpilotman commented on #6722
ok just done an fc /b on the file I just downloaded compared to the one I downloaded 4 days ago and there are no reported differences so either Fsky have not changed the file or they have duplicated the error and put the same file on, more likely though is an error in the flashing code as it reports "Device not responding" as the firmware update error please reopen the fault

[2019-09-09 11:10] zhaobing123 opened #6726 "Windows 10 buliding Companion 2.2 probled"
I followed very strictly instruction on the page : https://github.com/opentx/opentx/wiki/OpenTX-Windows-Build-Instructions

 Results :

MSB6006	"cmd.exe" exited with code 1.	    taranis_xbm	       C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppCommon.targets	171

MSB6006	"cmd.exe" exited with code 1.	taranis_fonts	C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsof

[2019-09-09 11:11] aussiepage opened #6727 "2.3N83:- Emergency mode when any reset option is selected on X10S Express"
X10S Express enters Emergency Mode when any of the reset options are selected (Reset Flight, Reset timer 1 etc)

Issue can be reproduced by

1. Long press of menu key to bring up menu
2. Select Reset...
3. Select any reset option.

The issue also occurs when

1. Long press of menu key to bring up menu
2. Select Reset...
3. Press RTN to exit reset menu
A clear and concise description of what the bu

[2019-09-09 11:53] bsongis commented on #6727
Reproduced

[2019-09-09 12:10] bsongis commented on #6722
did you extract the FRSK file (not FRK)
I just checked it, the file seems good

[2019-09-09 12:18] #6727 closed, assigned to bsongis

[2019-09-09 12:20] Quadpilotman commented on #6722
I do not see an frsk file in the expanded zip that I downloaded from the link above am I getting sent to a different frsky server I am in the UK I get ISRM_S_X10_190805.frk and a readme.txt file. Even then opentx will not give an option to install firmware from an .frsk extension only file operations

[2019-09-09 12:33] Quadpilotman commented on #6722
Just to confirm I am talking about OpenTx behavior here not FrOS

[2019-09-09 12:34] MRC3742 commented on #6718
Also it seems to improperly convert only the INPUTS.

In the Telemetry Model .pdf's (attached in above post) I had the throttle curve set up in the MIXERS and that converted correctly.

[2019-09-09 12:40] kilrah commented on #6722
The file really has changed.
https://www.frsky-rc.com/wp-content/uploads/Downloads/Firmware/X10X10SExpress/FW-X10SEXPRESS-ISRM-V1.1.3.zip

[2019-09-09 12:42] Steini63 commented on #6720
openTX shows the screen depending on user-input but does the corresponding calculation depending on the sensor-ID. So I suggest to do **both** depending on user-input

or

Change UNIT_RAW to  UNIT_RPMS for FlySky sensor-ID 0x02

Is there any hope to get that into release 2.3 ?

[2019-09-09 13:12] Quadpilotman commented on #6722
so what do you get when you unzip I tried again but it still won't flash to my X10 express internal module same error

[2019-09-09 13:13] Quadpilotman commented on #6722
can you attach the .frk or .frsk file that actually works for you

[2019-09-09 13:31] Arizona5318 commented on #6723
On Sept. 9, 2019 Robert M..  wrote..

Hello Andre B...

Yes, I did go to the library directory noted in your email and found  the culprit file.

Before that here is what I did to  test out my Apple MacBook Pro system.

Here is another way to test your computer to see if it something more serious than the rouge Companion file you mentioned.

Start a new user account (such as guest Open T), download

[2019-09-09 13:36] kilrah commented on #6722
Can't attach on here. This zip has an frsk. Delete any you might have downloaded previously before grabbing it, probably just a file management mistake since the zip has the same name as the previous one.

[2019-09-09 13:41] kilrah commented on #1809
Got implemented in the meantime

[2019-09-09 13:41] #1809 closed

[2019-09-09 14:00] #6718 closed, assigned to nobody

[2019-09-09 14:26] notlebowski commented on #6718
@MRC3742
Can you repeat the conversion process on your X9D+ to see if it now converts correctly?
It will take a few days before I'm close to mine.
I will do the conversion anyhow upcoming Friday.

[2019-09-09 15:16] Quadpilotman commented on #6722
Ok so here is the issue I did what you suggested but this made no difference still getting the same file ie the same .zip is being served, then I moved to the edge browser instead of chrome, then I got the right zip. So what 's going on here is that because the file name has not changed on the web server the old file is still being held in some cache somewhere possibly the browser possibly a cache

[2019-09-09 15:42] bsongis commented on #6722
http / https has nothing to do with expiration model, it seems normal to me that your browser considers the file cached as fresh.

next time I will ask FrSky to change the filename of the zip (as per google preconisations), it will avoid this kind of issue

[2019-09-09 16:45] Quadpilotman commented on #6722
Yep change of filename will crack it, http /https does have an effect on web proxies caching behaviour , but you are right browsers have been caching https content for a while now, however pre 2010 they did not do this very much hence https created expiry by default, Setting the expiry can also solve this kind of problem browsers do respect this in my experience, but it is a bit tedious to manage

[2019-09-09 17:01] bigtwin opened #6728 "Time to push the power button should be configurable"
I am using a Taranis QX7 with a push button to power on and off. In order to do so, I need to hold the button pressed for about 4 seconds. For me this is way to long. I would appreciate to have this time reduced to 1 or 2 seconds.
Would it be possible to have this time configurable? Maybe as a kernel option or so?

[2019-09-09 17:03] 3djc commented on #6728
Done in upcoming 2.3

[2019-09-09 17:03] #6728 closed, assigned to nobody

[2019-09-09 17:10] bigtwin commented on #6660
I experienced the same symptom on a total different occasion. Using telemetry with a UnisensE sensor, I also just heared a naked "zero". It seems to be OK, when the battery of my power boat was full und fresh. It started somewhere during the drive and the lower the battery was, the more frequent I heard this naked "zero".
I felt like this was related to telemetry alerts which were generated on the

[2019-09-09 17:37] MRC3742 commented on #6718
I downloaded the updates and built a new 2.3 firmware.bin

Updating from v2.2.4, now expo and throttle curve are converted properly.
Top bar "Volts source" converted properly (I have no "Altitude source" on reviewed models)
Also the telemetry instance is updated to the newer numbers (248 and 251) works as expected.
Radio problems seemed to be fixed from this commit but I will review more complicat

[2019-09-09 18:40] bsongis commented on #6718
No, the instance in telemetry has been changed on purpose

[2019-09-09 19:12] BaronVonRiot opened #6729 "X9 lite w/ crossfire, N83. always thinks model is still connected"
No matter what setting i try i keep on getting "rssi critical" with no model connected to my tx.
RSSI stays at 00 instead of going to "NO DATA"

[2019-09-09 21:16] Quadpilotman opened #6730 "X10 Express enters emergency mode when telemetry filter is selected in Logical Switches Page"
X10 Express enters emergency mode when telemetry filter is selected in Logical Switches Page

To Reproduce
Select MDL menu
Single click to Logical Switches page
Select a line to configure and scroll through to First variable column.
Long Press to get filters selection
Scroll down to Telemetry.
Two things cause the entry into emergency mode
1. Scroll back up
2 Select the Telemetry option with a sin

[2019-09-10 00:00] MRC3742 commented on #6718
Yes, I understand the Instance numbers have changed ( to 248 and 251 in my model? )
But the problem is when reading Radio EEPROM into Companion they get changed to 24 and 27
Then Writing them back to Radio also writes them as 24 and 27 causing telemetry to be unavailable.

This problem does not exist if EEPROM is saved in Radio using SD Card and then restoring it from the bootloader screen.  If th

[2019-09-10 05:16] br34k0r commented on #4589
This issue appears again with the X10S Express. Also when selecting a .wav file from play sound.
(Latest Nightly)

When you set it via companion, it works.

[2019-09-10 05:39] #6729 closed, assigned to 3djc

[2019-09-10 08:02] 3djc commented on #6729
The fix will be in N85

[2019-09-10 08:13] bsongis commented on #6730
Reproduced

[2019-09-10 08:36] br34k0r commented on #6730
Is this an issue in general with scrolling up in lists? Also happens on model picture selection or .wav file selection

[2019-09-10 08:58] #6730 closed, assigned to bsongis

[2019-09-10 11:04] bsongis commented on #6285
Fixed already in 2.3

[2019-09-10 11:04] #6285 closed, assigned to nobody

[2019-09-10 11:21] bsongis commented on #6723
For Raphael ?

[2019-09-10 11:21] #4958 closed, assigned to nobody

[2019-09-10 11:25] #6490 closed, assigned to nobody

[2019-09-10 11:27] #6401 closed, assigned to nobody

[2019-09-10 11:33] bsongis commented on #6078
Anybody succeeds to reproduce it?

[2019-09-10 11:39] bsongis commented on #5104
Cannot reproduce in 2.3

[2019-09-10 11:39] #5104 closed, assigned to nobody

[2019-09-10 12:14] bsongis commented on #5729
Example? If the 1st telemetry item is not available it works!

[2019-09-10 12:24] Noidea247 commented on #6610
This is my first post here so be gentle but I also have the latest x9d 2019 taranis (same as yours Craig I’ve watched your video) but for the life of me I cannot get crossfire to work, ie it’s not an option in my external rf bay. I have the latest 2.3 companion update (n82 I think) but whenever I try and flash new firmware it says my hardware isn’t compatible even though I have the correct radio s

[2019-09-10 12:38] #6721 closed, assigned to bsongis

[2019-09-10 12:59] #6029 closed, assigned to bsongis

[2019-09-10 13:27] kilrah commented on #5729
I don't remember...

[2019-09-10 13:28] kilrah commented on #6610
Did you correctly select the new "X9D+ 2019" type in companion insetad of the default "X9D+"?

[2019-09-10 13:30] #5729 closed, assigned to bsongis

[2019-09-10 13:30] craigywsm commented on #6610
Please check what kilrah said and let us know the outcome.

[2019-09-10 13:36] #4664 closed

[2019-09-10 14:46] #6679 closed, assigned to bsongis

[2019-09-10 16:16] Talha909 opened #6735 "Special Functions reset the Xlite Pro"
**Describe the bug**
When I try to add special function for the RSSI play out.  My Xlite Pro resets itself. And give error of  No sound on Sd card. After that I switch off the the xlite pro and try to add function again the sound files appears but when i select the file then again xlite pro turn on and off.  And after reset there is some line break shows on the right upper side.

**To Reproduce**

[2019-09-10 16:19] 3djc commented on #6735
Please post the content of your sound directory as a zip so we can try to reproduce. Have you tried just with our SD card pack or are you using externa content ?

Also have you tried with another sd card ? I can't seem to be able to duplicate that

[2019-09-10 16:36] bsongis commented on #6735
Duplicate of #6730 (scrolling issue)

[2019-09-10 16:36] #6735 closed, assigned to nobody

[2019-09-10 16:51] ghost opened #6736 "binding t16 to hitec receiver"
The issue tracker here is for devlopment of OpenTX. This is not a
support site, only a bug tracking system. Please use support groups
like [rcgroups](https://rcgroups.com/) or
[openrcforum](https://www.openrcforums.com/forum/). See also our
[manual](https://opentx.gitbooks.io/manual-for-opentx-2-2/).

For quick questions you can also join our general chat.

Issues that fall into the category of as

[2019-09-10 16:54] #6736 closed, assigned to nobody

[2019-09-10 16:57] 3djc commented on #6736
This place is for OpenTX bug tracking, T16 doesn't run OpenTX, and multiprotocol (if that's even what you are trying with) support is not done here. As mentionned in your own post : please use support groups like rcgroups or openrcforum

[2019-09-11 01:00] Noidea247 commented on #6610
Yes the 2019 version of the radio is selected. It’s exactly as follows in the radio type “frsky taranis X9D+ 2019”

[2019-09-11 01:06] Noidea247 commented on #6610
The exact error when I try and write new firmware (which is “OpenTX-x9d+2019-lua-noheli-en.bin” which as of today is version 2.3.0N84) says “New firmware is not compatible with the one currently installed”

[2019-09-11 04:40] CIXFPV opened #6737 "No R9M Access option on X9D+ SE (Old model) with R9M (old module)"
Hello guys,

Using last OTX 2.3 N84 we can't select the R9M access option on the X9D+ SE (old model).

Bug has been confirmed on 2 radio.

Thanks :)

[2019-09-11 05:04] robustini commented on #3954
With the SBUS there is little to do, but with the CPPM you can do it, but not via software:

https://www.rcgroups.com/forums/showpost.php?p=42694565&postcount=16448

[2019-09-11 06:10] 3djc commented on #6610
Try unchecking "Check hardware Compatibility"

[2019-09-11 07:02] Noidea247 commented on #6610
Done, error “Cannot write E://Firmware.Bin” (reason: Unknown error)

[2019-09-11 07:03] 3djc commented on #6610
Then you are not corretly following the upgrate procedure. What  exactly do you mean by " The radio is on and in “sd mode”"

[2019-09-11 07:05] 3djc commented on #6737
When you say old module, I guess you mean 'non 2019' R9 module. Those are not access compatible I believe, only the R9M 2019 are (and lite), so you can't do access with those anyway.

As for radio support, currently only X10 Express and X9D+ 2019 support R9M 2019 in ACCESS mode, we will assess if the other radio ahave the hardware capabilities to support it

[2019-09-11 07:06] Noidea247 commented on #6610
I’m assuming I am supposed to be doing this with the radio turned on and in “sd card” mode. Just as I am when I read the firmware? Companion can read it perfectly fine FYI. I have made several “test” backups without issue.

[2019-09-11 07:06] 3djc commented on #6610
what do you call 'sd card' mode ?

[2019-09-11 07:08] Noidea247 commented on #6610
Ie I can see the screen with a small usb symbol in the corner. From what I’ve read this radio doesn’t need to be turned on in any special way like other taranis’s. From what I’ve read of course.

[2019-09-11 07:09] Noidea247 commented on #6610
When I plug the USB into the radio while it’s turned on it asks me do I want to go into simulator mode or sd mode.

[2019-09-11 07:16] Noidea247 commented on #6610
Ok so I figured it out sorry gents.
I did need to turn the radio on in boot loader (different from what I’ve read but obviously my mistake)
I still needed to uncheck “check hardware “ but the firmware did flash.
I know the nightly builds are unstable and my radio now says nightly build do not fly when I turn it on but it does actually work right?

[2019-09-11 07:16] 3djc commented on #6610
OK, thats not the right mode for flashing, you need to be in bootloader mode, achieved by starting the radio with both horizontal mode pinched toward center, as any other Taranis. There are plenty of tutorial video and sites explaining that

[2019-09-11 07:19] bsongis commented on #6737
The X9D+ doesn't have a hardware serial port and the R9M ACCESS need to go to 450kHz
Only X9D+ 2019 and X10 Express are compatible with R9M ACCESS (full size) today

[2019-09-11 07:19] #6737 closed, assigned to nobody

[2019-09-11 08:01] CliffEvans opened #6738 "Vario and Atimeter have stopped working."
After updating to 2.2.4 I am not getting any data from the vario or altimeter on any of my models.  Alt just reads "0" all the time.

[2019-09-11 08:30] 3djc commented on #6738
Well, no detail on radio used, no detail on where you where comming from, thats gonna be real hard to investigate. Please post your otx so we can have a look, but that's the first time someone reports something like that in over 40k 2.2.4 downloads

[2019-09-11 08:37] CliffEvans commented on #6738
So sorry!  Horus X10s   otx is in the zip file.  The model I was flying when I noticed this is the SG38  As stated all was fine until I updated!  but, has affected all models.

[Cliff.zip](https://github.com/opentx/opentx/files/3599785/Cliff.zip)

[2019-09-11 08:40] 3djc commented on #6738
Any specific reason to have your instance to 27 on that sensor ? Also, what version where you comming from ?

[2019-09-11 08:42] CliffEvans commented on #6738
No, I don't really understand what that means, or how to change it.  I have never changed anything but the firmware.

[2019-09-11 08:48] CliffEvans commented on #6738
I have just fired up the T21 model, Alt just stays on 0 all the time.
![20190911_094002](https://user-images.githubusercontent.com/18718856/64682366-424d3c00-d479-11e9-9507-3fbbb44f0f15.jpg)

[2019-09-11 08:51] CliffEvans commented on #6738
![20190911_095043](https://user-images.githubusercontent.com/18718856/64682706-d7e8cb80-d479-11e9-8883-e97c7372406e.jpg)

[2019-09-11 08:56] 3djc commented on #6738
In your OTX, those sensor have an instance of 17, which is rather unusal, could you try to either rediscover sensors or changing their instance to 1 ?

[2019-09-11 09:01] CliffEvans commented on #6738
Have done all of that. two or three times now!

[2019-09-11 09:05] CliffEvans commented on #6738
Have just changed from 27 to 1, will just go out and try it.

[2019-09-11 09:06] CliffEvans commented on #6738
![20190911_100407](https://user-images.githubusercontent.com/18718856/64683761-cd2f3600-d47b-11e9-9742-5825896aebef.jpg)  instance set to "1"

[2019-09-11 09:07] CliffEvans commented on #6738
![20190911_100437](https://user-images.githubusercontent.com/18718856/64683828-ea640480-d47b-11e9-9036-6586060debc1.jpg)
After rediscovering.

[2019-09-11 09:08] 3djc commented on #6738
Strange that they are on 27, but there are here and working since you have the *

[2019-09-11 09:10] CliffEvans commented on #6738
I am totally clueless!!!

[2019-09-11 09:28] CliffEvans commented on #6738
I have just downloaded and installed the firmware again, all is now working!!!

[2019-09-11 09:29] #6738 closed, assigned to nobody

[2019-09-11 09:36] kilrah commented on #6738
You likely had the "faimode" option enabled in the previous one you downloaded.

[2019-09-11 09:38] CliffEvans commented on #6738
I don't know!  As far as I am aware, I have never changed anything but, easily done I suppose.
Thanks to all for the help.

[2019-09-11 12:57] raphaelcoeffic commented on #6723
@bsongis looking at it right now...

[2019-09-11 13:00] raphaelcoeffic commented on #6723
Are there any other examples of the sich fields which are not shown on Mac?

[2019-09-11 13:01] raphaelcoeffic commented on #6723
The language menu itself is basically there, but it gets appended to another menu (preferences, at the „leftest“)

[2019-09-11 14:24] kilrah commented on #6723
Don't have it in any menu here...
Preferences isn't the one we're after, but companion menu language

[2019-09-11 14:26] raphaelcoeffic commented on #6723
Not here? It seems it is installed in place of the "Settings" action. Sometimes it crashes right after changing to CZ.

<img width="590" alt="Screen Shot 2019-09-11 at 16 25 00" src="https://user-images.githubusercontent.com/1050031/64705770-bf47d800-d4b0-11e9-8e79-fa5b56f8785e.png">

[2019-09-11 14:28] raphaelcoeffic commented on #6723
But frankly, spending an hour with lldb, I'm no smarter than I was before....

Here is what I see when it crashes:
[code]

Not clear which kind of bug this is...

[2019-09-11 14:36] raphaelcoeffic commented on #6723
Seems this is not restricted to Czech or the language menu:
<img width="374" alt="Screen Shot 2019-09-11 at 16 33 17" src="https://user-images.githubusercontent.com/1050031/64706664-27e38480-d4b2-11e9-8b82-8013152c776d.png">
<img width="282" alt="Screen Shot 2019-09-11 at 16 33 36" src="https://user-images.githubusercontent.com/1050031/64706673-2b770b80-d4b2-11e9-81c9-2a2208558d56.png">

[2019-09-11 14:47] kilrah commented on #6723
![Screen Shot 2019-09-11 at 07 25 17](https://user-images.githubusercontent.com/6065069/64707785-d0deaf00-d4b3-11e9-98d6-21e1267c02bb.png)

I think I got it: 2 menu items have the same exact name, and that gets mixed up?

[2019-09-11 14:55] raphaelcoeffic commented on #6723
Possibly, no clue how that works 😟

[2019-09-11 15:40] LapinFou commented on #6490
Are you sure this has been fixed?
I didn't see any modification during my latest French translation.

[2019-09-11 16:07] 3djc opened #6744 "9x and xlite navigation issue"
9x and xlite do not handle wel MENU() starting with 2 REDAONLY rows

[2019-09-11 18:19] putimir commented on #6712
Hello, @3djc: is this included in the todays RC1?

From release notes: "Add Crossfire telemetry mirror on bluetooth"?

Thanks

[2019-09-11 18:20] 3djc commented on #6712
well, I think you answered the question yourself

[2019-09-11 18:24] putimir commented on #6712
:D :D

Sorry, wasn't sure if it was Horus related.... Thanks again for the intervention!

Regards!

[2019-09-11 18:47] putimir commented on #6712
Hey sorry to bother you, with one more thing: I have installed now the RC1 companion over the N80 version, but now it gives me the "compilation error" when I try to download the FW, for the Horus X10...

I have the profile set-up and selected. I does not give me error, if I switch to the X7 profile and download the FW...

[2019-09-11 18:51] 3djc commented on #6712
What exact options are you using ?

[2019-09-11 18:54] putimir commented on #6712
just noheli and lua

[2019-09-11 18:55] putimir commented on #6712
![image](https://user-images.githubusercontent.com/33059362/64726228-773bac00-d4d6-11e9-8609-6a545ec1795c.png)

[2019-09-11 18:57] 3djc commented on #6712
I just downloaded it ok

[2019-09-11 19:08] putimir commented on #6712
What do you recommend? Make a new profile perhaps?

[2019-09-11 19:12] putimir commented on #6712
Yup, that fixed it...

[2019-09-11 19:28] 0crap opened #6745 "[2.3.0 RC1 and RC2] RSSI- stays at zero"
I installed OpenTX 2.3.0 RC1 on my Taranis QX7S.
I noticed that the RSSI- value always stays at zero. (See picture.)

On nightly build 2.3.0N63 this was working correctly.

[2019-09-11 19:29] putimir commented on #6712
Can just add this: I'm having no problem now, with RC1, getting telemetry through BT even if I set the module baud rate @400000... :D

[2019-09-11 19:35] 0crap commented on #6745
![screen-2019-09-11-212152](https://user-images.githubusercontent.com/31951195/64728798-1f07a880-d4dc-11e9-9894-d965660f0e92.jpg)

[2019-09-11 19:42] eral00 opened #6747 "Swedish as a menu language does not work"
Junk characters on display, when I use Menu language Swedish

**Screenshots**
![image](https://user-images.githubusercontent.com/55209799/64728869-43fc1b80-d4dc-11e9-9770-eb6d130a3d2a.png)

Testing on ,Horus X10s Express
 - OpenTX version  2.3.0.N85
- Firmware version 2.3.0.N85

[2019-09-11 20:32] notlebowski commented on #6745
That's RSSI-
The lowest value detected....
Still....  not very useful.

I never used it.
Did it always give sane values on 2.2.4???

[2019-09-11 20:47] 0crap commented on #6745
I know what RSSI- is.
It gives you the lowest value of RSSI seen in the entire flight.
On the bench next to the TX it should give something like 87 as in the example above.
It's now stuck at zero, always. (e.g. not working)

Yes, it gives sane values in 2.2.2 which I used for a long time.
Also worked fine in 2.3.0N63, from that I jumped on RC1 which gives the issue.

[2019-09-11 20:49] raphaelcoeffic commented on #3954
see #5518

[2019-09-12 05:00] 3djc commented on #6747
We will fix this, but you need to be aware we haven't had updates  to swedish translation for a looonnng time

[2019-09-12 05:36] putimir commented on #6712
One thing, I noticed, regarding telemetry display, changed in this version:

With the XF transmitter modules, you get some of the sensors from TX module in, even if not connected to a receiver, for example, TPWR and RQly. In previous OpenTX, these were getting in nicely and the telemetry display, as well as all the logical switches and functions were working as intended...

Now these sensors come

[2019-09-12 05:39] 3djc commented on #6712
please open separate issues, it is impossible to track things like that, thanks

[2019-09-12 05:54] putimir commented on #6712
Ok, sorry, I posted here, because I thought perhaps it's related to the BT mirror...

[2019-09-12 05:57] 3djc commented on #6747
OK, looks like a font issue. Could you check those screen to see if the right characters seem to be used ?

![image](https://user-images.githubusercontent.com/5167938/64757606-dc24ef80-d532-11e9-84d3-00b94a8a8f4a.png)

![image](https://user-images.githubusercontent.com/5167938/64757617-eb0ba200-d532-11e9-8f93-87b7756f13a2.png)

[2019-09-12 06:52] Bill-Edwards99 opened #6749 "ISRM Access Gives Wrong Menu - EU Version"
Horus X10S Express

OpenTX 2.3.0RC1 (EU Build)

Select Model, Select ISRM, Select Access gives the following menu
![aaa1](https://user-images.githubusercontent.com/55228524/64760652-2659a100-d532-11e9-80fe-f2e1c2cabd07.jpg)

Select ISRM and Off gives the correct menu
![aaa2](https://user-images.githubusercontent.com/55228524/64760684-3b363480-d532-11e9-9d10-7c7e7dad2729.jpg)

[2019-09-12 06:54] Bill-Edwards99 commented on #6749
Sincere apologies, I was sure I was in the correct place to post this, but it appears I wasn't :(

[2019-09-12 06:54] robustini commented on #3954
Excellent alternative @raphaelcoeffic , but perhaps it is more complex to weld those two resistances rather than inject the CPPM signal where the radio expects to have it natively.
However good to know.
The soft serial for SBUS would be more interesting, as long as it does not involve an excessive load on the CPU with possibile cpu-lockup.

[2019-09-12 07:00] 3djc commented on #6749
Fixed in https://github.com/opentx/opentx/commit/43e5f0c50240e8ff7fad7807ba9cd85c9ee71106

[2019-09-12 07:00] #6749 closed, assigned to nobody

[2019-09-12 07:01] 3djc commented on #6749
Fixed in tomorows nightly and in upcomiing RC2

[2019-09-12 07:07] ghost commented on #5818
Question about global variables.

I have a widget that I have running on multiple pages in a model. in other sizes.
I want this widget to set a Gvar.

Do all the "same"  widgets in the model set the Gvar in the background? or only the one that is visible?

[2019-09-12 07:17] 3djc commented on #6745
Technicaly it is not wrong at all, but agreed not very usefull if RSSI- always reports 0

[2019-09-12 07:52] #6709 closed, assigned to nobody

[2019-09-12 08:56] kilrah commented on #6749
It is, it was just already taken care of.

[2019-09-12 08:59] kilrah commented on #5818
It depends whether you put the code in the background function or the "refresh" one...

[2019-09-12 11:17] raphaelcoeffic commented on #3954
@robustini I had to do it on X10 as the pin is otherwise not connected at all to anything. Meanwhile I have a simple solder  bridge in place. How is the X12S here?

[2019-09-12 12:15] BaronVonRiot commented on #6729
Fix works as expected on N85, thanks.

[2019-09-12 12:24] #6723 closed, assigned to raphaelcoeffic

[2019-09-12 12:24] #6747 closed, assigned to 3djc

[2019-09-12 13:43] Steini63 commented on #6724
I can confirm the issue. I's exactly the same with my Turnigy TGY-9x with AR9X board. Older versions and Er9x running fine.

[2019-09-12 13:49] kilrah commented on #6723
Working with build server output too, thanks

[2019-09-12 14:35] 3djc opened #6759 "Xfire telem when RSSI is 0"
Crossfire telem sensors go into high speed flickering mode when  receiver is lost. Unlike FrSky telem, in 2.2, Crossfire telem was still been send , even with 0 RSSI. So the fix canbe either to restore 2.2 like behaviour, or move to a 2.3 behavious where TELEMETRY_STREAMIING is set to off and no sensor are updated as long as RSSI is at 0

[2019-09-12 14:43] 0crap commented on #6745
@3djc Not sure why you say it's technically not wrong, because I think it is wrong.
But anyway, thanks for fixing the issue!
I'll retest when RC2 comes out.

[2019-09-12 14:48] uragano47812 opened #6760 "2.3RC1 X9D+ SE 2019 ACCESS RX + R9M LBT (not ACCESS) Problem"
I have 2.3RC1 on my taranis SE 2019 i installed for the first time the R9M (not 2019 ACCESS version).
I have a signal critical allarm when using the R9 mini rx and a 2.4ghz rx even in ACCESS or in D16.
If i goes to Range test i see that the value goes from a number to 0 very quick.

If i disable internal module i see that the alarm is still there and i have 0 on RSSI on R9M.

I notice that the pro

[2019-09-12 14:52] 3djc commented on #6745
Because rssi- means the lowest received value, which is 0. But we also recognise that this is not an helpful value, so we agreed to make an exception for this sensor, where rssi- will contain the lowest non zero value

[2019-09-12 14:57] 3djc commented on #6760
Since absolutely no details describing the actual issue are given, closing until more detail are provided

[2019-09-12 15:00] uragano47812 commented on #6760
i had a problem with editor and i was re-taping the text sorry

[2019-09-12 15:02] 3djc commented on #6760
No problem

[2019-09-12 15:17] 3djc commented on #6760
I do not understand, «  i have 0 on RSSI on R9M « and «  the problem goes away if i bind the R9mini with telemetry on.«  seem to be contradictory, as it suggests you are running with telem off on r9, so how can you have r9m rssi ?

[2019-09-12 16:03] 0crap commented on #6745
@3djc It's still not clear to me why this behaviour is changed in RC1.

So with the lowest received value is 0 you mean the TX is turned ON but the craft is still OFF, not connected to a lipo?
In that case yes, the TX receives nothing and RSSI and RSSI- is zero.

But that is not how it worked in the past!
RSSI- always started to do it's thing after I plugged in a lipo. (Strong and so high RSSI- va

[2019-09-12 16:09] bsongis commented on #6745
It was a bug which has been fixed today. Will be in RC2

[2019-09-12 16:22] bsongis commented on #4589
Is fixed now, right?

[2019-09-12 16:33] uragano47812 commented on #6760
I try to describe better, if i use both module and both rx with telemetry on all is working and i don't have any allarm.

If i use R9mini rx without telemetry (for redundancy for example) i have the message signal critical. If i go to range test on both internal module and ecternal module buttons i read a number (ex 78) and 0 and so on and the radio gives the alarm.

Also if leave enabled only R9M

[2019-09-12 16:44] br34k0r commented on #4589
On my side: YES

Thank you very much!

[2019-09-12 16:44] robustini commented on #3954
The next time I open the tx I try to check.

[2019-09-12 16:49] bsongis commented on #6760
Someone helps to explain to me this issue?

[2019-09-12 16:55] uragano47812 commented on #6760
to summarize i think that it is not normal that the TX say signal critical if i use R9M and R9mini with telemetry off

[2019-09-12 17:04] 3djc commented on #6760
Side comment, you now should be able to have both your telem on with 2.3 and a combination of access and accst. There is also a new item, RSSI Source that let you choose which of your RSSI should be used for the top bar and so on

[2019-09-12 19:51] markran commented on #6163
I would also like this.

[2019-09-12 19:59] markran commented on #4137
I would greatly appreciate this as the hiss from my $400 radio is a bit annoying (I fly in quiet places :-))

[2019-09-13 06:25] bsongis commented on #6760
Now I understand, it should be fixed in RC2, please confirm, thanks in advance

[2019-09-13 06:27] 3djc commented on #6760
@uragano47812 we think this is solved in N87 or RC2 when it becomes available

[2019-09-13 06:49] kilrah commented on #6760
Would be nice if you could confirm it's working in N87 before we release RC2.

[2019-09-13 07:24] uragano47812 commented on #6760
I tested with N87 and the problem is still there. I get signal critical alarm when i'm using both module int + ext ind one of them is bound with the rx without telemetry. I get also on RSSI quick switch from 0 to 78 (example) and signal critical alarm.

I don't have signal critical alarm only when both RX have telemetry ON or both RX have telemetry OFF.

[2019-09-13 08:10] 3djc commented on #6760
Not related to this issue, but could you try settings up the dual telem using RSSI source ? It should work fine, you should be able to keep both telem on (this is a 2.3 change)

[2019-09-13 08:36] PasiRuo opened #6762 "Jumper T12 companion export shift in switches"
L01=true does not change flightmode if switch=L01

Problem with JumperT12 and otx2.3rc1 is that logic condition does not change flightmode.

[2019-09-13 08:48] 3djc commented on #6762
Can you post your otx ? I just tested here, it works fines

[2019-09-13 08:57] PasiRuo commented on #6762
[document12.zip](https://github.com/opentx/opentx/files/3609179/document12.zip)
posted this before to chat.opentx and got confirmation and request to post this report here.

[2019-09-13 08:59] kilrah commented on #6762
Nothing to do with flight modes specifically, just export of switches for T12 has shifts

![Clipboard01](https://user-images.githubusercontent.com/6065069/64850357-88d79d80-d615-11e9-9533-e7849f6f469c.png)
![Clipboard02](https://user-images.githubusercontent.com/6065069/64850365-8aa16100-d615-11e9-99a2-2feb710be8ff.png)

[2019-09-13 09:01] tomekmgr opened #6763 "Throttle trim for aileron diff setting."
I use my radio to fly gliders mainly.
For those kind of aircraft it's very important to have differential aileron setting. (more up than down).
It's usually done by setting global variable, and assign it in diff field in mixer setting.
This value need to be adjusted, during first setup, or even sometimes during the flight.

The most convenient way to do that is to use throttle trim and add special

[2019-09-13 09:07] kilrah commented on #6762
Also sources, GV1 comes as CH31

[2019-09-13 09:12] kilrah commented on #6763
The first 3 are taken care of by setting the throttle trim to "Disabled" in flight modes.

4 can probably be overcome with a Timer LS.

[2019-09-13 11:24] #6760 closed, assigned to nobody

[2019-09-13 11:25] bsongis commented on #6760
@uragano47812 are you able to check the fix within one hour or so (before we release the RC2)?

[2019-09-13 11:52] LapinFou opened #6765 "RX #: false positive "same number" detection"
Looks like the RX number detection doesn't make any difference of which module is used.

In the example below (red & blue rectangles), Companion doesn't make the difference between the internal XJT module and the external multi module.
![tmp](https://user-images.githubusercontent.com/1685030/64860330-1ffc1f80-d62d-11e9-828f-f98249a514c2.png)

[2019-09-13 12:50] 3djc commented on #6765
fixed in rc2

[2019-09-13 12:50] #6765 closed, assigned to nobody

[2019-09-13 12:56] LapinFou opened #6768 "Wrong "Switch channel" message?"
When doing the French translation, I saw this message:
`No Companion release builds are currently being served for this version, please switch release channel`
I think, it should be:
`No Companion release builds are currently being served for this version, please switch to release candidates or nightly channel`
What do you think?

[2019-09-13 13:26] uragano47812 commented on #6760
now i can but i don't any new N88 vers. just re download N87 for the fix?

[2019-09-13 14:32] RRAlex commented on #6737
Just to get this straight as I think a lot of people are confused since FrSky promised things it might not deliver, but will regular ACCESS still be possible with the internal module on "old" X9D+SE?
(without spectrum analyzers or fancy features, but just core control...)

[2019-09-13 14:46] kilrah commented on #6737
Nobody knows but FrSky, and they have never answered that question. So assume no.

[2019-09-13 14:47] 3djc commented on #6737
That is not currently the case, and we have no information suggesting it will change (or not). Only FrSky would know

[2019-09-13 14:57] gweep opened #6770 "SDCard content for 2.2.4 (2.2V0021) - 9XR Pro - only 2.2V0018"
Using Turnigy 9XR Pro with OpenTX 2.2.4 using sdcard/opentx-9xrpro/sdcard-9xarm-2.2V0018.  2.2V0021 is not available.

Getting SDCard Error every time I turn on transmitter.    Do I roll back to OpenTX 2.2.3 or ignore error and use 2.2V0018 until 2.2V0021 becomes available?

I am assuming current config is safe to fly?

[2019-09-13 15:48] kilrah commented on #6760
RC2 is out now, should work there

[2019-09-13 15:52] kilrah commented on #6768
It's kind of implied, and didn't want to cause annoying "change loops".

[2019-09-13 15:52] #6768 closed, assigned to nobody

[2019-09-13 16:24] TorbanDallas opened #6771 "2.3.0rc1 and rc2 ACCESS Binding and OTA Update doesn't work anymore"
Hi, with the nightly 2.3.0N83 r9mlitepro and r9m access (r9m 2019 module) registration and binding was possible, also OTA Update. Now with 2.3.0rc1 and even rc2 on the binding or ota update process the window "waiting for rx" disappears when I power the RX, the radio doesn't respond to any button. Binding and Ota update isn't possible.
And it has worked pretty good bevor as you can see in my video

[2019-09-13 16:40] lshems commented on #5818
Unless you call background from refresh

[2019-09-13 16:42] lshems commented on #5818
Post the script here or on my rcgroups blog with a short description of the intended workings and I'll look at it

[2019-09-13 16:47] #6762 closed, assigned to nobody

[2019-09-13 16:53] ThePhantom05 opened #6772 "Fry Sky Taranis x9D+"
Tell me, will firmware 2.3 on Fr sky Taranis x9D Plus be? And then I download copyman 2.3 (OpenTX 2.3.0RC2 (2019-09-13)) and there is no firmware for my Fr Sky Taranis X9D Plus ....

[2019-09-13 17:05] kilrah commented on #6772
This is not a support site but a bug tracker, please put your usage questions on forums.

Yes 2.3 supports the X9D+.

[2019-09-13 17:05] #6772 closed, assigned to nobody

[2019-09-13 17:06] ThePhantom05 commented on #6772
Sorry, I figured out the companion needed to set the firmware - realese channels - realese candidates (testing).
But now at the moment there is no multi tab, you will have to wait until it appears....

[2019-09-13 17:06] ThePhantom05 commented on #6772
Зачем закрыл?

[2019-09-13 17:06] kilrah commented on #6771
What radio, what receiver

[2019-09-13 17:06] 3djc commented on #6772
Multi is now always part of any 2.3 firmware

[2019-09-13 17:06] ThePhantom05 commented on #6772
Зачем закрыл? А?

[2019-09-13 17:07] 3djc commented on #6772
English only please

[2019-09-13 17:07] TorbanDallas commented on #6771
here's a short video about the issue
https://youtu.be/SIfRGIPvVag

Radios: Taranis x9d+2019 and x9litepro, rx r9mini ota, r9m 2019 and r9mlitepro modules. All with the newest fw. Issue occurs on both radios.

[2019-09-13 17:08] ThePhantom05 commented on #6772
Wow, thanks) For the answer)) So you can upgrade)))?

[2019-09-13 17:13] ThePhantom05 commented on #6772
The multi has a lot of useful features !!!

[2019-09-13 17:14] ThePhantom05 commented on #6772
Why did you close it ??? BUT

[2019-09-13 17:15] 3djc commented on #6772
Can you READ ????? MULTI is IN ALL 2.3 FIRMWARES

[2019-09-13 19:19] fape commented on #6771
I think there is missing `menuVerticalPosition = 0;` from stdlcd/radio_sdmanager.cpp REFRESH_FILES() function. It was in before 465674ca689c00d7a9ac7d0f3c5a447e79e64637
see: https://github.com/opentx/opentx/commit/465674ca689c00d7a9ac7d0f3c5a447e79e64637#diff-62acc2d885031a07ee58209d587fd7bf

[2019-09-13 19:58] 0crap commented on #6745
@bsongis or @3djc Can you please reopen this issue? I just tested RC2 and the problem is still there.

![screen-2019-09-13-214613](https://user-images.githubusercontent.com/31951195/64891177-8c990d80-d671-11e9-926a-9c8a2b8b4aa3.jpg)

I also tested with Curr- , that gives the same problem, always zero.
Tested that by arming my quad and let the motors spin at low rpm.
Then reset telemetry by using m

[2019-09-13 20:28] joba-1 opened #6773 "dockerfile uses gcc-avr version that no longer exists"
*Before submitting,  search the open issue if there is already a report of the bug*

found no open issues for dockerfile

**Describe the bug**

I try to build latest stable release version 2.2.4 in a supported environment following [OpenTX-2.2-Linux-Build-Instructions](https://github.com/opentx/opentx/wiki/OpenTX-2.2-Linux-Build-Instructions)

This is not possible.

**To Reproduce**

I installed d

[2019-09-13 20:33] X23S opened #6774 "Use Taranis X-Lite Pro mini stick as input and assign it to channel(s)"
There is not enough buttons to do what i want.
I don't need :
- trims
- to navigate in the TX menu
- TX screen
- sounds.

I need buttons.

I want to be able to select the multi function joystick (mini stick) on the X-Lite Pro and assign it to channel(s). And i would like all : up/down/left/right and clic. Same goes with the cross pad : i want to be able to add up/down/left/right on channels as it

[2019-09-13 21:27] jodibb commented on #6771
I have same issue. Also doesn't work in latest nightly. (Xlite)

[2019-09-13 23:36] SantiCO19 commented on #6771
X-Lite Pro (2.3.0RC1 - opentx-xlites) - R9M Lite Pro/R9MM latest firmware 1.1.2, OpenTX 2.2.3RC1 - For me, registration completes with no apparent issue, but upon binding, the "waiting for rx..." message dissapears, and Rec1 name changes to "---" and the X-Lite Pro begins vibrating in a continuous fashion. The only way to recover is by holding the power button on the X-Lite Pro until is shuts down

[2019-09-14 03:38] gweep commented on #6312
This is exactly what I am seeing also...  using 2.2.4 on 9XR Pro.     Also in this instance in Input 6, P1 has been replaced by P2.

![image](https://user-images.githubusercontent.com/1761146/64903002-56a25c00-d666-11e9-8c16-b741c297de26.png)

[2019-09-14 04:04] SantiCO19 commented on #6770
I think the disclaimers state that nightlies should not be used for flying.. With that said, I'm not certain, but I believe I read that you can rename the file found in the sd card root, which identifies the sd card content version, to whatever the applied firmware is expecting to see. This may eliminate the warning you reference. I cannot tell you what additional issues may occur, or be compounde

[2019-09-14 06:12] gweep commented on #6312
A little more info on this issue:  [OpenTX 2.2.4/9RX-Pro]   Apparently this version of OpenTX has a fixed Input/Control Surface assignment for the Input Tab.

My in-elegant solution:
* On the Input Tab - Don't fight OpenTX; go ahead and Switch Rudder and Aileron.
* On the Mixes Tab - correct the input selections while maintaining the correct channel order.
* Don't forget to swap your rudder and ai

[2019-09-14 06:14] kilrah commented on #6773
You should be able to remove all the AVR stuff in lines 16-20 from the Dockerfile since we dropped support for AVR stuff in 2.2 anyway. We removed it in 2.3. https://github.com/opentx/opentx/blob/2.3/radio/util/Dockerfile

[2019-09-14 06:18] kilrah commented on #6771
That doesn't help us, we can't fix it until we know WHAT profile settings cause it. Please post a screenshot.

[2019-09-14 06:22] jodibb commented on #6771
I found temporary workaround: downgrade to opentx from frsky-rc web page, bind, update back to rc02.

[2019-09-14 06:27] gweep commented on #6770
2.2.4  (2019-07-11)  is a minor release and was downloaded with the "Use releases (stable)" option.
I will look into your suggestion.

[2019-09-14 08:00] 3djc commented on #6770
The file has been added, sorry about that

[2019-09-14 08:00] #6770 closed, assigned to nobody

[2019-09-14 08:08] 0crap commented on #6771
@TorbanDallas Your title contains a wrong OpenTX version number.
It's not 2.2.3 but 2.3.0
You can edit the title if you want.

[2019-09-14 08:10] 3djc commented on #6759
Fixed

[2019-09-14 08:10] #6759 closed, assigned to nobody

[2019-09-14 08:11] TorbanDallas commented on #6771
I did, also on my first comment i made this mistake and even in my video ... but I always mean 2.3.0

[2019-09-14 08:15] 3djc commented on #6745
We fixed it and it seems indeed tro have reappeared

[2019-09-14 08:18] 0crap commented on #6745
Thx, let me know if you want more sensors tested.

[2019-09-14 08:34] uragano47812 commented on #6760
Yes it works i confirm. Great job thanks.

[2019-09-14 09:42] #6771 closed, assigned to bsongis

[2019-09-14 10:42] robustini opened #6775 "[2.3.0 RC3 - Horus X12S] - RAS always remains at 0"
On my X12S the visualization of the RAS in the statistics is always of value 0, even changing antenna (INT or INT+EXT).
I'm sorry but this is a particular situation, that is I installed the IXJT+ RF module of the X10S (triple antenna), so I can't say it's a bug because maybe the firmware doesn't correctly interpret what comes from the module because it expects to find an IXJT and not a IXJT+.
It w

[2019-09-14 14:41] Berto105s commented on #6312
So you're suggesting that I should go back through all of the models I have
created and do the aileron/rudder swap on the mixer tab? That's a lot of
work but doable. Isn't ease of managing opentx the main purpose for using
Companion?

Thanks for the suggestion. I do appreciate your looking into this problem.

Kevin

On Sat, Sep 14, 2019, 1:13 AM gweep <notifications@github.com> wrote:

[2019-09-14 15:42] Target0815 opened #6778 "[2.3.0 RC3 - X9D+ SE 2019] Crossfire scripts very slow"
**Describe the bug**
With current Crossfire version (2.93) the LUA scripts for Crossfire are very slow. With Crossfire version 2.41 this was still ok.

Looks to me like the Crossfire scripts still need to be updated.

**To Reproduce**
Update Crossfire to lastest release version (2.93).

[2019-09-14 15:46] 3djc commented on #6778
To be sure I understand, is it RC3 releated, or Crossfire version related ?

[2019-09-14 16:13] 3djc commented on #6778
OK, tried on x7:
- 2.2.4 with 2.2 scripts and 2.41 : fast
- 2.2.4 with 2.2 scripts and 2.93 : slow
- 2.3.0RC3 with 2.2 scripts and 2.41 : fast
- 2.3.0RC3 with 2.3 scripts and 2.41 : fast
- 2.3.0RC3 with 2.2 scripts and 2.93 : slow
- 2.3.0RC3 with 2.3 scripts and 2.93 : slow

So it is definitively  a change in 2.93. Will contact TBS

[2019-09-14 16:22] SantiCO19 commented on #6771
Lua and noheli were checked in my profile settings. I managed to work around the error by simply unchecking noheli, then RC2 compiled and flashed without further issue. At that point, RC2 showed similar behavior, though repeating slight variations of recovering from the haptic lockup (which additionally now included a sustained "bind-chirp" sound,)  yielded a partial bind. ie RSSI and RxV telemetr

[2019-09-14 16:22] Target0815 commented on #6778
Thank you. I posted it here because the Crossfire scripts are also "delivered" with OTX.

[2019-09-14 16:24] 3djc commented on #6771
There is a fix for that in RC3

[2019-09-14 16:33] bigtwin commented on #6660
Meanwhile I have done further testing - the naked zero is not related to the Unisens E sensor and its configured alerts. I have disabled all sensor alerts and my OpenTX 2.2.4 still comes up with a plain zero. The less battery the more often.
In oppostie to thie issue starter I cannot say which triggers this zero. I dont know (yet) whether I have a "Play Value" special function which causes this.

[2019-09-14 16:34] notlebowski commented on #6765
Please reopen:

I have this in RC3

These models have RxNum #1

#3  Kinetic  D16
#12 Me109 Multiprotocol
#15 Corsair D8

#15 and #3 are false positives. The Kinetic uses a D16 protocol and the #15 Corsair uses D8
The #12 (Me 109) is indeed not flagged anymore as a duplicate because it's another module
![rxnum](https://user-images.githubusercontent.com/39838998/64911174-92006180-d71e-11e9-8ed1-f251

[2019-09-14 16:44] SantiCO19 commented on #6771
Thank you. I skipped the workaround, and installed RC3. Bind successful, displaying R9Mini for Rec1. Still no control data going to Rx, but I suppose that is some misconfiguration of mine in BF, or wiring. I mean, there's only 1 wire for Fport! ..but I don't quite have the hang of inverting the inverse of the inverted inversion. Cheers-

[2019-09-14 17:22] gweep commented on #6312
You will need to review and fix both the Input and Mixes tabs.

[2019-09-14 18:16] notlebowski opened #6780 "Auto-offset for Altitude seems to be not working anymore"
On my DLG's I will reset the altitude to 0 whenever ABS(alt) > 1m
Upon binding the system will reset the altitude to 0 and my graphs always looked good.

This weekend I'm seeing this in between flights.
Upon binding it gets a large negative height which spoils my graphs.
It never did this before. Not on <2.2.4 and not on the nightlies.

Today I flew with 2.3.0RC2

![alt](https://user-images.github

[2019-09-14 18:24] Berto105s commented on #6312
I kinda understand now what you suggested after re-reading it. Truth be
told, it would be easier for me to simply create any new models in my radio
and leave my other models as they are. I've had to correct them several
times already before I understood what Companion was doing. Guess I'll save
Companion for my Jumper T16 radio. Everything works correctly there.

Thanks,

Kevin

On Sat, Sep 14, 20

[2019-09-14 20:47] 0crap commented on #6745
Tested and fix confirmed.
Thx gents!
Closing this one.

[2019-09-14 20:47] #6745 closed, assigned to 3djc

[2019-09-14 21:49] fritzster commented on #6780
I have the same issue since going to 2.3RC1, Didn't have it with the nightlies. Reset telemetry shows 0 altitude for 1 second and then it jumps to 291m. Have deleted and re discovered sensors. The altitude is working but with the 291 offset. Have added -291 to the offset for an interim fix.

[2019-09-14 22:40] joba-1 commented on #6773
found the missing files. Hope it helps. It built fine for me now. Thanks @kilrah

[2019-09-14 22:40] #6773 closed, assigned to nobody

[2019-09-15 06:18] notlebowski opened #6786 "Companion RxNum does not differentiate between d8/d16"
Please reopen:

I have this in RC3

These models have RxNum #1

#3  Kinetic  D16
#12 Me109 Multiprotocol
#15 Corsair D8

#15 and #3 are false positives. The Kinetic uses a D16 protocol and the #15 Corsair uses D8
The #12 (Me 109) is indeed not flagged anymore as a duplicate because it's another module
![rxnum](https://user-images.githubusercontent.com/39838998/64911174-92006180-d71e-11e9-8ed1-f251

[2019-09-15 06:33] raphaelcoeffic commented on #6786
No need for a new issue, I have it already covered in #6781

[2019-09-15 06:36] kilrah commented on #6773
Did you try removing them as I suggested? If that works it is a better fix.

[2019-09-15 06:47] kilrah opened #6787 "RC3 opentx-x10-lua-noheli-en compilation error"

[2019-09-15 06:53] kilrah commented on #6787
Hmm server/build hiccup again..

![Clipboard01](https://user-images.githubusercontent.com/6065069/64917867-16da9200-d796-11e9-8522-904507c9c350.png)

opentx-x10-lua-noheli-en apparently failed for no reason at some point, strangely there is a opentx-x10-noheli-lua-en that got called/built which should be the same thing, and when I removed the .err opentx-x10-lua-noheli-en built fine again.

[2019-09-15 07:30] joba-1 commented on #6773
I didn't go that route first because I didn't want to remove a feature from a stable version, even if that feature is declared not supported.
And I have no means of actually testing the firmware, I wouldn't even know what to look for.

But I did test building it right now: as expected, this works for me too: "[100%] Built target firmware" :)

Thanks!

[2019-09-15 07:51] gweep commented on #6770
Thanks!

[2019-09-15 08:01] notlebowski commented on #6786
If I add things to a closed ticket it stays unclear if they are addressed.
I have also added several comments to the X12S conversion ticket, but nothing is done with it.

Radio conversion of my setup is not done perfectly.
This worries me as the very minor glitch on my setup could be a major one on other's.

Although I understand it somewhat, I think that tickets are closed too fast without giving

[2019-09-15 08:04] 3djc commented on #6786
Closing ticket with commits a is basic git mechanism. If after a fix you are still having an issue, open a new one

[2019-09-15 08:05] notlebowski commented on #6786
But is it fixed as in that it doesn't occur anymore?
Or you've decided to not differentiate between protocols?

I would fully understand that in case of the MPM, but I think an exception could be made for the native Frsky protocols.

[2019-09-15 08:14] kilrah commented on #6786
A match will only be reported if same number with same protocol on same module.

[2019-09-15 08:22] notlebowski commented on #6786
OK
Full fix. Even better!

[2019-09-15 08:25] raphaelcoeffic commented on #6786
@Kilrah with the latest patch, it is with the same protocol on ANY module.

[2019-09-15 08:32] kilrah commented on #6786
Then it's wrong becasue the very fact the modules are different excludes a clash...

[2019-09-15 08:40] aussiepage opened #6789 "SD card menu / file handling issue - Horus x10 Express running 2.3 RC2"
When navigating and playing sound files on SD card the wrong file is played. After this happens radio also shows corrupted file text that clear next time you navigate to the folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Press and hold SYS to enter radio setup.
2. Press page to navigate to SD card folder
3. Navigate to /sounds/en/system folder.
4. File 0000.wav is highlighted.
5. Pr

[2019-09-15 10:39] LapinFou opened #6790 "Horus X10 iXJT upgrade not working"
Hi folks,

Following the great tutoriel [Extracting Horus internal RF firmware](https://github.com/raphaelcoeffic/horus_frk) of @raphaelcoeffic I generated the attached .frk firmware for a friend (he is running the ACCST LBT)  → [X10-X10S_LBT_1.3.04.zip](https://github.com/opentx/opentx/files/3616202/X10-X10S_LBT_1.3.04.zip)

Unfortunately he is always getting an error message just after the black

[2019-09-15 10:42] athertop commented on #6716
I have tried the latest release candidate, and this issue seems to be resolved, so I will close this ticket.

[2019-09-15 10:42] #6716 closed, assigned to raphaelcoeffic

[2019-09-15 11:14] TorbanDallas commented on #6771
tested 2.3.0rc3 ota update and binding (with my r9 mini ota) works fine now!

[2019-09-15 11:47] raphaelcoeffic commented on #6786
Why? Let’s say I have a model on internal XJT/D16/5 and a model on external XJT/D16/5. Wouldn’t they clash? Or is it prevented by the module internal ID?
If this is the case, we can compare module # as well, no problem, but it works this way. Will just exclude a bit more (said case previously).

[2019-09-15 11:48] raphaelcoeffic commented on #6786
Apart from that, comparing just the module is really wrong, as you could exchange modules. Many people switch between MPM and crossfire for instance.

[2019-09-15 11:49] 3djc commented on #6786
No they would not clash, the bind is unique to a module. If you bind a receiver as '10' on your internal XJT, and another as '10' on external XJT module, they do not clash

[2019-09-15 12:00] raphaelcoeffic commented on #6786
Ok, so let’s have module AND protocol and finally be done...

[2019-09-15 12:11] kilrah commented on #6786
Why? Let’s say I have a model on internal XJT/D16/5 and a model on external XJT/D16/5. Wouldn’t they clash? Or is it prevented by the module internal ID?

Yep, module ID being different makes that fine.

Precisely, if it's a different module you are allowed to have the same RX number without risk of clashing.
The one exception is someone using 2 multis and defining the same forced ID for both, but

[2019-09-15 17:04] raphaelcoeffic commented on #6789
This has already been fixed and will be available in RC4.

[2019-09-15 17:05] raphaelcoeffic commented on #6789
For reference, this is fixed by #6777.

[2019-09-15 17:06] #6789 closed, assigned to nobody

[2019-09-15 21:37] kilrah opened #6791 "T12 sensor edit"
Moving left/right between the ID/instance fields edits the value

[2019-09-16 03:04] shamufpv commented on #6553
The latest nightly did not give me a warning screen. Everything seems to be working though. Should I be concerned?

[2019-09-16 05:02] 3djc commented on #6553
You probably have an RC that does not trugger the warniing. please check your exact version in radio/version screen

[2019-09-16 05:26] 3djc commented on #6787
Fixed

[2019-09-16 05:26] #6787 closed, assigned to nobody

[2019-09-16 06:29] #6791 closed, assigned to 3djc

[2019-09-16 06:55] raphaelcoeffic commented on #6786
Protocol and module matching has been implemented and merged, will be in RC4.

[2019-09-16 06:55] #6786 closed, assigned to nobody

[2019-09-16 12:40] LapinFou opened #6796 "[SD Card] Adding a LUA script or built-in menu to switch ACCST mode on EXPRESS radios"
Hi folks,

The new FrSky radio with an ISRM RF module have got the ACCESS and the ACCST D16 protocols.
The FrSky RF firmware doesn't make a difference between the ACCST D14 FCC and the LBT mode.
The only way to switch from one norme to another one is through a LUA script provided by FrSky.
I know it is working for the X-Lite Pro/S ans the X9-Lite. I don't know for the new Horus EXPRESS and the X9D

[2019-09-16 12:43] 3djc commented on #6796
Since this script is completely illegal, this script is not publicly provided by frsky, or us

[2019-09-16 12:43] #6796 closed, assigned to nobody

[2019-09-16 12:49] LapinFou commented on #6796
??? Looks like Frsky send by email this script to one member of the French Taranis forum.
So, I don't see any legal issue.
Despite the origin of the script, how can we switch the ACCST norm on a ISRM RF module ?

[2019-09-16 12:54] raphaelcoeffic commented on #6796
@LapinFou normally you're not supposed to. In the email your friend received, it was probably written that he must not forward it to anyone, just like in the email I received as I asked for it ;-) I think this is a RF regulations issue.

[2019-09-16 12:58] LapinFou commented on #6796
OK, indeed he didn't tell me. 😄
I deleted the script.
So, does it mean if you buy a FCC ISRM radio, there is no legal way to switch it in LBT? 😨

[2019-09-16 13:07] raphaelcoeffic commented on #6796
The support will help you if you make them clear that you did it "by mistake" and you want to go legal by reprogramming your module to match your region.

[2019-09-16 13:10] LapinFou commented on #6796
Thanks! 👍
Good to know, specially for European people buying staff directly in China...

[2019-09-16 13:35] ghost commented on #5818
Will do later on, tnx

[2019-09-16 15:58] 3djc commented on #6790
Reproduced

[2019-09-16 16:23] 3djc commented on #6778
Had a discussion with TBS on the subject. On the newer version, a LOT more data are exchanged between TX and RX, specialy when entering this screen.  It's not doing "nothing', on the contrary. They are looking at ways this could be improved, but that's not the scripts or OpenTX, just XFire doing more and more things version after version

[2019-09-16 16:23] #6778 closed, assigned to 3djc

[2019-09-16 17:43] LapinFou commented on #6790
Good!
Thanks. 👍

[2019-09-16 18:44] kilrah commented on #6796
Normally the dealers have been giving the script to people who are in an FCC region but got the EU version by mistake (especially since... an update mistakenly switched FCC radios to EU) but not the opposite. If you're in EU, buy an EU version and support your "local" dealers.

[2019-09-16 19:38] lshems commented on #6796
As I understood there is no FCC certification yet for this module, so perhaps the retailers should be adviced not to sell it at all to FCC users?

[2019-09-17 08:18] 3djc commented on #6780
What do you use, we don(t seem to be able to replicate,  but we don't have to rebind every flight either.

[2019-09-17 09:11] #6790 closed, assigned to nobody

[2019-09-17 11:17] aussiepage opened #6797 "Special function Playsound not working 2.3 RC4 Horus x10s Express"
Not certain this is a bug but no sounds are played when

1. Program a Play Sound special function to trigger on a switch.
2. For example select Play Sound Beep1.
3. Activate special function via switch.
4. No sound is played.

In my tests none of the playsound selections work (any of the available sounds).

Also do not get normal chirp when Tx is in bind mode.

Special function Play Track does how

[2019-09-17 11:20] kilrah commented on #6797
Check the "Beep Volume" setting?

[2019-09-17 11:21] DarkSoulRL commented on #5748
Fli10 reciver with Jumper multi module. AFHDS2A protocol. Low signal or lost signal alarm all time, after binding.

[2019-09-17 11:25] elecpower opened #6798 "Companion telemetry conversion for X9D+"
Conversion from a X9D+ 2.2.4 otx for any model with discovered telemetry displays Mod. **External** in the first 32 telemetry rows and blank for the remainder.
Models with no telemetry the Mod field is blank for all rows as expected.

End of configured sensors
![Screenshot from 2019-09-17 21-01-32](https://user-images.githubusercontent.com/15316949/65036768-849dde00-d98f-11e9-8fc7-9c4f74b431de.png

[2019-09-17 11:28] aussiepage commented on #6797
Thanks for suggestion.
Checked "Beep Volume" in Radio Setup screen and it was not zero. Increased to max and still no sound.

[2019-09-17 12:51] 3djc commented on #6797
Could you share your otx file ? We are not able to reproduce the issue here

[2019-09-17 12:54] bsongis commented on #6797
I just flashed 2.3 RC4 on mine, it works as expected!

[2019-09-17 13:07] aussiepage commented on #6797
Thanks all for testing and apologies this may not be an issue.
Radio was set to Mode  - Alarm and this seems to mute the Playsound.
Changed mode to NoKey and Playsound works.

Many thanks.

[2019-09-17 13:07] #6797 closed, assigned to nobody

[2019-09-17 13:14] kilrah commented on #6797
Yes Alarms disables all beeps other than alarms.

[2019-09-17 14:24] notlebowski commented on #6780
The word "binding" is used as in "establishing the link".
We don't rebind every flight neither...

Enabling/Disabling logging of my BAMF DLG is a bit complex, so I prefer to take my ELF as an example. I flew it on August 31st and on September 14th with the same setup.

On September 14th I flew it with RC2 and on August 31st I flew it with a 2.3.0 Nightly.

My BAMF and Elf showed the exact same beh

[2019-09-17 14:59] bsongis commented on #6798
Ah yes I saw it in the pull request and forgot to mention it. If the 3 bits are 1, the origin is "SPORT LINE", not the module given in the first bit. We have only 3 bits for storing the module index + rxId ...

[2019-09-17 15:24] raphaelcoeffic commented on #6798
and how is "external module / third receiver" encoded? the same?

[2019-09-17 15:51] notlebowski commented on #6780
@fritzster
Upcoming Friday evening is the first time I can test this again.
Can you check if you can reproduce this with current RC?

[2019-09-17 15:58] bsongis commented on #6798
External module / First receiver = 100
External module / Second receiver = 101
External module / Third receiver = 110

[2019-09-17 16:43] PD5DJ commented on #5818
Changed account.

[2019-09-17 17:36] bigtwin commented on #6660
The occurrence of the plain and naked zero is somehow mystic …

I took a log file during the drive with my speedboat while my Taranix QX7 started to speak „Zero“ once in a while. Back to my computer, I ran a simulation using Companion 2.2.4 based on the log file (one value per second). To my surprise, the naked zero was clearly reproducible in companions telemetry simulation!  :-)

I could not see

[2019-09-17 21:03] elecpower commented on #6798
The receivers are bound to the radio's internal module. I assumed the module was the  telemetry source which is external to the radio.

![Screenshot from 2019-09-18 06-58-28](https://user-images.githubusercontent.com/15316949/65079169-e4bd7000-d9e1-11e9-8f64-0b78ca471e60.png)

[2019-09-17 22:04] raphaelcoeffic commented on #6798
@bsongis ok, so Companion should show something like "SPORT" in this case? (instead of a module or receiver?) Or maybe even nothing? (hiding the corresponding fields?)

[2019-09-18 02:24] fritzster commented on #6780
The offset altitude issue I had was while running ACCESS on my g-rx6 and 2.3RC1 on my 2019 X9D SE it did not happen on the 2.3 nightlies. I’ve since downgraded the RX to ACCST due to sensor loss issues and also upgraded to 2.3RC3 and I no longer have either of the issues. My offset problems had nothing to do with binding but occurred every time I powered up the RX or reset telemetry.

[2019-09-18 05:12] Waldo-P-Barnstormer opened #6799 "Comp 2.3.0RC4 XJT (D8) protocol, RX # still conflicting, is # necessary for D8?"
Would it be possible to leave the RX # blank in the model list for receivers using the XJT D8 protocol.
Having RX #'s shown is meaningless and gives a user a false sense that there wouldn't be a conflict if numbers are different. That's not the case. Having two D8 receivers powered at the same time they will both respond to the Tx, RX # same or different.
Also in 2.3.0RC4 my model list still shows

[2019-09-18 06:24] notlebowski commented on #6780
I had this issue last Saturday with both of my models. It happened during normal operation with 2 different receivers running ACCST that were without issue before. The word "binding" was not used properly by me when I opened the ticket.

I have been daily updating my radio during the holidays and flying a few of my models. Now these holidays are over and I only have access to them during the weeke

[2019-09-18 06:26] bsongis commented on #6798
Yes, SPORT (or even nothing) will be perfect

[2019-09-18 06:27] 3djc opened #6800 "2.3 multi telemetry issue"
For RCG

Receiver connects, transmitter shows TRSS and A1 values on the model telemetry page
opentx sets the telemetry streaming flag
opentx reports "RF signal critical"
Receiver sends RSNR telemetry (<1s after connect), multiprotocol forwards it
opentx RSNR shows up, signal is fine

[2019-09-18 06:33] notlebowski commented on #6799
It could show D8 instead of the RxNum in Companion.
Like Waldo said, these should never conflict.

I think Companion is incapable of detecting a conflict if there really is one in D8.
By showing D8 instead of an RxNum there you can imply this in a way.

[2019-09-18 06:49] kilrah commented on #6799
Yes D8 doesn't have RX no so should be ignored

[2019-09-18 07:18] pascallanger commented on #5748
I have a fix for the low and critical alarms. I'm working on adding a lot of sensors. It's currently under testing before a PR to OpenTX.
To be able to access the new sensors you also need to upgrade the Multi module to 1.2.1.77 or more.
Pascal

[2019-09-18 10:14] SjDost opened #6803 "Taranis Q X7 double entries with mixers"
I noticed when reading models from the Taranis Q X7 (rel X7-2.2.4) that double entries are created in the Mixers. It looks that this happens only with Mixers above Ch20.
Companion used is OpenTX 2.2.4 Jul 11, 2019.
Attached are the OTX file and the corresponding ODT and PDF files. The issue is above CH20.
Regards SjDost

[Double mixer lines.zip](https://github.com/opentx/opentx/files/3625785/Doubl

[2019-09-18 10:23] 3djc commented on #6803
Could you add you eeprom file ?

[2019-09-18 10:23] #6800 closed, assigned to 3djc

[2019-09-18 10:43] SjDost commented on #6803
Sorry but what do you need exactly? The Eeprom file on the SD card is empty
apart from the readme file.
Do you need de firmware files I can download in Companion?
Regards SjDost

On Wed, 18 Sep 2019, 12:23 3djc, <notifications@github.com> wrote:

[2019-09-18 10:44] 3djc commented on #6803
You need to go to that screen ON THE RADIO and LONG ENT to create an EEprom backup that you will then find in the EEPROM folder of your SD

![image](https://user-images.githubusercontent.com/5167938/65142027-19e1b680-da12-11e9-82a6-a74551dec07f.png)

[2019-09-18 10:59] SjDost commented on #6803
Added the requested Eeprom Bin file.
[EEPROM.zip](https://github.com/opentx/opentx/files/3625995/EEPROM.zip)

[2019-09-18 11:07] SjDost commented on #6803
Now the correct EEPROM file requested. Sorry or the confusion on my part..
[eeprom-2019-09-18-125438.zip](https://github.com/opentx/opentx/files/3626028/eeprom-2019-09-18-125438.zip)

[2019-09-18 20:47] gweep opened #6806 "RSSI telemetry not manageable. 9XR (2.2.4) OrangeRX(DSMX11) Jumper JP4in1 Multi-Protocol Module"
RSSI telemetry not manageable.
Turnigy 9XR (2.2.4)
OrangeRX R620v2(DSMX11) [Also R720v2]
Jumper JP4in1 Multi-Protocol Module

With telemetry setup, the RSSI displays on the main screen as "signal bars" above the box for the left stick.  It also is displayed in in small type as a number in the footer of every telemetry screen setup to display bar charts.

However RSSI does not show up in the Model

[2019-09-18 21:20] raphaelcoeffic commented on #6806
Silly question: have you done the sensor discovery on the model setup -> telemetry page?

[2019-09-18 21:25] gweep commented on #6806
Yes.  I even deleted them all and started over.

I also note that the Display screen offers to show 4 lines of data (numbers and bars) but only 3 lines are visible in the display.

[2019-09-18 22:09] kilrah commented on #6806
Spektrum gear does not give an RSSI. You might have a TSSI in your sensors, which is the strength of the received telemetry.

[2019-09-18 22:10] #6806 closed, assigned to nobody

[2019-09-19 08:22] #6799 closed, assigned to 3djc

[2019-09-19 17:22] KnuckleUpFPV commented on #4838
Is it even possible to use the bottom s.port pin while a crossfire is installed in the module bay? Trying to get crsf mirror over that pin, because the crossfire bluetooth is unreliable.

[2019-09-19 20:14] kilrah commented on #4838
All sport pins are hardwired together so with CRSF you get everything on there (both uplink and downlink, need to filter yourself if needed).

[2019-09-19 21:19] KnuckleUpFPV commented on #4838
Im not getting anything from the bottom s.port pin. Its like its dead when crsf is in use. Thanks though.

[2019-09-20 00:35] gweep commented on #6806
Yes TRSS show up and is manageable.

Getting back to RSSI; even though it is not expected... RSSI is received from the OrangeRX receiver and is displayed by openTX.   Hence it could be made available to manage and display.

[2019-09-20 00:41] gweep opened #6807 "Turnigy 9XR (2.2.4). Model Setup/Display screen errors. Only 3 of 4 data lines visible."
The Model Setup/Display screen offers to show 4 lines of data (Numbers) but only 3 lines are visible in the display. The display does show all 4 lines in Bar format.

[2019-09-20 08:34] kilrah commented on #6806
What you see displayed is the TRSS that is fed to the RSSI mechanism since that's the closest thing that's available. You just have to know its limitations.

[2019-09-20 08:46] kilrah commented on #6807
3 lines in the main screen and the 4th is the bottom bar.

[2019-09-20 08:46] #6807 closed, assigned to nobody

[2019-09-20 14:23] gweep commented on #6806
I have doubts about the TRSS value being displayed as RSSI.   The TRSS values and the RSSI values differ by over 30 to 40 dB.    I can't imagine that the TRSS values are being bumped internally before being displayed.    I don't believe that the difference is constant.

I will take picture of the TX screen this weekend.  It displays both numbers.

[2019-09-20 15:35] kilrah commented on #6806
Sorry it's not TRSS, it's based on Frame Loss A.

https://github.com/opentx/opentx/blob/2.3/radio/src/telemetry/spektrum.cpp#L321

[2019-09-20 15:38] kilrah commented on #6806
See the code here, depending on the receiver "RSSI" is either fed by TRSS * 3 or Frame Loss A if it's a clone receiver that transmits this.

https://github.com/opentx/opentx/blob/2.3/radio/src/telemetry/spektrum.cpp#L321

[2019-09-20 15:53] kaeuferrot opened #6809 "Toggle switches do not work an connectors P20 and P32"
I installed OpenTx RC4 on my Horus X12S because I read that additional switches are supported with 2.3. On my sticks, I have to additional toggle switches which were connected to P20 and P32 on motherboard. In the hardware menu I can see the switches SI and SJ and I configured them as toggle. The servo monitor shows me bars. But when toggling, nothing happens. Also the way of testing "There is a s

[2019-09-20 16:44] 3djc commented on #6809
Please test tomorrow’s nightly, some changes have been done to try to fix this.

[2019-09-20 20:13] notlebowski commented on #6780
Last Sunday I flashed RC3 on my X-Lite, but never tested it. Just now I tested it with that version and it seems the issue was exclusive to version RC2

[2019-09-21 06:58] 3djc commented on #6780
So this is not an issue anymore ?

[2019-09-21 09:11] DarkSoulRL commented on #5748
Can I get firmware 1.2.1.77 for tests? I have a Jumper T16 multimodule

[2019-09-21 09:31] pascallanger commented on #5748
The Multi github repo is up to date so you can build the version 1.2.1.79 by yourself: https://github.com/pascallanger/DIY-Multiprotocol-TX-Module. If you need a binary I'm going to do a new Multi release some time today.
OpenTX PR for additional sensors and fixes is still not submitted.
Pascal

[2019-09-21 09:33] notlebowski opened #6811 "Companion: Highlight orphaned logical switches in red"
When changing complex model setups it can happen that some of the logical switches get "orphaned" meaning they are not referenced by anything (not SF nor other logical switches).

If such switches would be highlighted in Companion this would help to show errors or remnants.

I just changed the way I turn on/off logging in one of my setups.

This means that part of the former logic may or may not b

[2019-09-21 09:35] 3djc commented on #5748
I would very strongly advise against flying with that branch, it is not even ready for nightly

[2019-09-21 09:39] notlebowski opened #6812 "Feature request radio: Boldface "individual elements of logical switches" if they are true"
When an LS is true it is shown boldfaced on the radio.
The individual elements of the switch do not.

When programming on the radio it would be helpful to see that 1 of the elements turns true and it would be easier to see the reason why the whole LS does not turn true (or the other way around).

[2019-09-21 09:41] notlebowski commented on #6780
No...
At the the time there was some work on RSSI-
It may have been some side-effect of a tried solution (or not) ;)

[2019-09-21 09:41] #6780 closed, assigned to nobody

[2019-09-21 09:44] notlebowski commented on #6780
BTW
I now control the logs this way on my DLG's
Not because I need to, but just to get cleaner graphs.

L18 Telemetry AND Duration(0.1s) Delay(10s)
L19 !Telemetry AND ---- Delay(10s)
L20 Sticky(L18, L19)

SF1 L18 - Reset Alt
SF2 L20 - SD Logs (0.3s)

[2019-09-21 12:34] asizon opened #6813 "18ms on 16ch?"
![img_20190921_105704](https://user-images.githubusercontent.com/43983086/65373358-ce7f1080-dc7c-11e9-88ee-900062d23c2b.jpg)

**Describe the bug**
Showing 18ms,does 9ms on 16ch now??

**General information**
 - OpenTX version 2.3.0 RC4
 - Hardware  Frsky X9D+

[2019-09-21 12:35] asizon commented on #6813
Confused with this parameter,  Does XJT latency fixes affect to this?

[2019-09-21 14:03] 3djc commented on #6813
This places is to track OpenTX bugs, which this is not, so closing this. Please use places like rcgroups or opentrc forums for this type of questions

[2019-09-21 14:03] #6813 closed, assigned to nobody

[2019-09-21 14:52] asizon commented on #6813
Sorry @3djc , I thought it was a mistake of the opentx UI, not showing 9ms as it should.

[2019-09-21 20:52] lshems opened #6814 "2.3 RC4 minus button in LUA triggers twice"
On taranis (didn't check others) the minus button triggers the LUA event twice. The plus functions correctly.

[2019-09-21 20:58] lshems commented on #5156
When will this be in a RC? Would love to test.

[2019-09-22 06:17] 3djc commented on #5156
We have moved that change to 2.3.1. It will be in early 2.3.1 nightlies once 2.3.0 releases

[2019-09-22 06:42] raphaelcoeffic commented on #6798
@bsongis seems we have another problem here.

In the radio conversion, we set the upper 3 bits to 1 in case of XJT PXX1:
[code]

However, in Companion, we don't set these bit, and mask the instance for all PXX1 modules:
[code]

That does not seem to be consistent.

Shouldn't we set these 3 bits for anything but PXX2 modules?

[2019-09-22 06:55] raphaelcoeffic commented on #6798
Further comment: Why do we subtract 1 for sensors with `instance == 0`? I think this is not correct.

[2019-09-22 08:50] kaeuferrot commented on #6809
Unfortunately I am not able to download the nightly even I reinstalled the N94-companion. The BIN file I get is only RC4. It was installed when I opened the issue.

[2019-09-22 08:52] 3djc commented on #6809
You need to have companion set to download nigthlies (which should be possible with N94 companion)

[2019-09-22 09:35] kaeuferrot commented on #6809
Great! It works now! Many thanks!

[2019-09-22 09:35] 3djc commented on #6809
👍 thanks for the test !

[2019-09-22 12:34] kaeuferrot commented on #6809
I can see the switches toggling and they are recognized when moving them. Servo monitor also shows moves. I tried to implement a special function, when pressing the key, that some values were played. But nothing happens there. With SH as a switch it works. Normally the switch name is bolded when active. Here this does not happen.

[2019-09-22 12:41] 3djc commented on #6809
What type of switch did you connect and how did you declare it ?

[2019-09-22 12:42] kaeuferrot commented on #6809
It is a toggle stick switch from RC-Technik. I declared it as toggle!

[2019-09-22 14:47] Lasakro commented on #6600
Any progress on this? I'm having the same problem with two X8R's and one RX8R with the latest firmware running OpenTx 2.2.4 on a X9D+.
X8R FW- 2-10-2017
RX8R FW- 6-1-2018
Should this problem be brought up with FrSky, maybe receiver firmware problem?

It really causes problems when running a redundant receiver and you are looking for consistent telemetry.

[2019-09-22 14:48] kaeuferrot commented on #6809
Acting as a channel works!

[2019-09-22 14:53] P-I-Engineer commented on #6600
I haven't tested on my xsr yet, but, I upgraded the internal frsky module firmware and it fixed my other issue with not being able to bind with telem on and channels 9-16 on my rx6r.

So, update all your firmwares, especially your internal xjt module.

[2019-09-22 15:40] Lasakro commented on #6600
Updated XJT Internal RF module, problem solved. Thanks!

[2019-09-22 16:29] #6600 closed, assigned to bsongis

[2019-09-22 17:38] jfrickmann commented on #4759
This would be brilliant! Now that we may soon get key event in widgets, I am starting to look into how to port my SoarOTX project from Taranis to Horus. And having to go through all of my scripts to add offsets to X and Y everywhere would be a nightmare!
How are the chances that this will be implemented soon?
As always, thanks for all of your great work!!

[2019-09-23 03:51] BladeScraper-Designs opened #6816 "Unable to remove telemetry screens"
I looked around in the list of issues and didn't see anyone describing the issue I'm having.

**Describe the bug**
If I try to remove a telemetry screen on the radio, the radio soft freezes, and scrolling the wheel or pressing the buttons on the left side don't do anything.  The only thing that un-freezes it is pressing the RTN button.  Once unfrozen, the screen is not removed.  This happens on th

[2019-09-23 05:57] kilrah commented on #6816
You need a long press on "remove screen".

[2019-09-23 06:41] 3djc commented on #6814
What event are you monitoring ?

[2019-09-23 08:26] bsongis commented on #6798
1) In EEPROM v218 we don't have ACCESS, so writing 0xE0 when the module is PXX1 seems correct. I think the radio conversion is fine.

2) In Companion EEPROM export / import, we split the instance into (instance / rxIdx / moduleIdx)

3) Instance == 0 is impossible for FrSky sensors in 2.2

[2019-09-23 08:34] raphaelcoeffic commented on #6798
The question was more: is `MODULE_TYPE_XJT_PXX1` in the radio equivalent to `isPxx1Module()` in companion? I don't think so, is it?

What about the disabled/blank sensors? the issue is that the instance is then `!= 0`, and the Companion thinks the sensor is not disabled. So I think we should not "convert" sensors for which the instance `== 0`, right?

[2019-09-23 08:42] bsongis commented on #6798
a disabled sensor should have no name (not instance = 0)

[2019-09-23 08:42] bsongis commented on #6798
you are right about the MODULE_TYPE_XJT_PXX1 comment

[2019-09-23 13:30] bsongis commented on #6798
Fixed in RC5

[2019-09-23 13:30] #6798 closed, assigned to raphaelcoeffic

[2019-09-23 13:30] 3djc commented on #6809
Please test in RC5

[2019-09-23 13:30] #6809 closed, assigned to nobody

[2019-09-23 13:50] raphaelcoeffic commented on #4759
@jfrickmann I can try to have a look in case I find a nice way to specify it. Maybe some option, somewhere.

[2019-09-23 16:22] lshems commented on #4759
Please clarify first on how we can declare widget location and size, and within which restrictions (if any).

I would hate to lose the possibility to use two widgets on top of each other to overcome transaction count errors on drawing too many graph lines or grid lines in one widget.

[2019-09-23 16:41] raphaelcoeffic commented on #4759
Nothing would be lost. The plan is to have the option to use a transparent offset, so that (0,0) is the corner of your zone, and not the corner of the screen. That’s it. It’s not a must to use it or change anything in existing widgets.

[2019-09-23 16:56] lshems commented on #6814
The 'old' ones.

[2019-09-23 16:57] lshems commented on #6814
The 'old' ones. I just run my scripts and get double response on minus button. So something has changed.

[2019-09-23 17:03] lshems commented on #4759
Ok. Sounds good. But will there be a check on drawing withing widget or even within screen? Currently a dangerous sport, drawing on the LCD screen

[2019-09-23 17:09] kaeuferrot commented on #6809
Thank you, it works now!

[2019-09-23 17:29] raphaelcoeffic commented on #4759
I was not planning on improving the clipping, but that right, it would be needed...

[2019-09-23 21:24] elecpower opened #6819 "Companion telemetry conversion 2.3.0RC5"
Rechecked the conversion after #6798 fixed and noticed the following changes from 2.2.4 otx but not sure if a conversion issue or the way data will be displayed in 2.3.

Version 2.2.4
![otx224telemetry](https://user-images.githubusercontent.com/15316949/65463712-9ace0180-de9b-11e9-9c07-9c90bc4d4a7a.png)
Version 2.3.0RC5
![Screenshot from 2019-09-24 07-13-00](https://user-images.githubusercontent.c

[2019-09-23 21:31] raphaelcoeffic commented on #6819
The instance does now correspond to what is actually received. In 2.2.4, it was +1, so the instance was actually wrong and has now been corrected. So it is in fact fully intentional.

Concerning the `()` you can see behind the sensor name in sources, this would contain the name of the receiver in case you would select a specific one and would be using ACCESS. This is very similar to the way this i

[2019-09-23 21:35] elecpower commented on #6811
Orphaned references can occur in a number of areas and implementing for logical switches is likely to spawn requests for other reference checks. Performing lots of cross checks would slow down model loading and refreshing after every field change. Also colour coding is significant dev work.
My vote would be for a model 'audit' function.

[2019-09-23 21:41] elecpower commented on #6819
@raphaelcoeffic thanks for the explanation. Just wanted to double check. I do not have a spare radio to test the firmware on so couldn't check what the radio displays in 2.3.0RC5 to make sure Companion matches for the Instances. Happy to close.

[2019-09-23 21:41] #6819 closed, assigned to nobody

[2019-09-24 03:00] notlebowski commented on #6811
It says "Companion"

An improvement spawning requests for other improvements is a poor argument IMHO for not doing it.

[2019-09-24 03:46] gweep commented on #6806
Thanks!  That clears it up.   It also explains why my RSSI does not change when I switch to low power for a range check.

Thanks

[2019-09-24 05:01] 3djc commented on #6806
Just as a side comment, low power has been disabled in recent multi builds, so unless you are compiling yourself and have re enable low power, it might not be available

[2019-09-24 08:10] kilrah commented on #6814
Haven't been able to reproduce, so if it's still an issue in RC5 we'll need more detail and affected code.

[2019-09-24 10:51] glowplugpropnut commented on #6452
I have run into this exact same issue with a TinyWhoop Quad fitted with a FlySky receiver. I have also encountered it with a Hubsan Quad (obviously a different protocol). Both work perfectly with a multi-module on a radio using DeviationTX but not on my Taranis.

[2019-09-24 11:36] robustini commented on #6775
@raphaelcoeffic @kilrah The problem is not so much that the RAS is not displayed, but that if an antenna has a problem the RF module continues to transmit, compromising its functioning.
I tried now to remove the external antenna for a moment after enabling it and OpenTX didn't notice.
Tested with RC5.

[2019-09-24 12:03] Ceeb182 opened #6821 "Skin of the X9-Lite Companion simulator"
Currently the skin of the `X9-Lite` Companion simulator is the same as the one of the `X7`.
I designed a new skin for the `X9-Lite` simulator.
![X9-Lite Image for Companion](https://zupimages.net/up/19/39/jz20.png "X9-Lite")
I'm not a designer, I wouldn't be angry if the skin isn't chosen.

As this is the first time I'm proposing a contribution, I hope I'm not too wrong about OpenTx GitHub Workflo

[2019-09-24 12:41] kilrah commented on #6775
That is always the case anyway.

[2019-09-24 12:43] kilrah commented on #6452
The whole flysky telemetry is being reworked by someone for 2.3, so I'll close that and people should try 2.3 when that's in.

[2019-09-24 12:43] #6452 closed, assigned to nobody

[2019-09-24 12:55] adrienbarde opened #6823 "Companion 2.2.4 can't extract RADIO/radio.bin"
Hello everyone,

i just recieved my new stock X-lite pro and i can't read or save models from it.

1- I configured companion to "X-lite radio"
2- I booted my radio in bootloader mode
3- connected via USB
4- but, when i try to get models from the radio a get the following error "Can't extract RADIO/radio.bin"

I copied all files to the SD card 2.3v0019 (from frsky site)

**Screenshots**
![image](ht

[2019-09-24 12:56] kilrah commented on #6823
X-Lite pro isn't supported in 2.2, need 2.3.

[2019-09-24 12:56] #6823 closed, assigned to nobody

[2019-09-24 12:59] adrienbarde commented on #6823
OK thank you for your help!

[2019-09-24 16:17] robustini commented on #6775
With OpenTX V2.2.4 if the external antenna is badly fixed the RAS goes to the stars and the radio warns me.
With 2.3 it does not, being always at 0 with the XJT+ module on X12S, i hope with IXJT work fine.
With OpenTX 2.2.4 and the IXJT+ rf module work only the RAS when i select "INT+EXT", with the original IXJT module work in both condition.

[2019-09-24 21:13] kilrah commented on #6775
Sure, but your post suggested it would stop transmitting automatically which has never been the case.

We will likely need some clarification from FrSky about when it can be used/displayed at this point.

Unfortunately we can't just always display it since there are module hardware/software versions and/or antenna selection settings that lead to incorrect/invalid RAS to be sent that we have to ign

[2019-09-24 22:52] mroldskool90 opened #6825 "Disable "Hold to Turn on" on QX7"
In the earlier versions of OpenTX I could easily turn on the radio by just pushing the ON/OFF Button. Since I updated to V2.2.2 I always have to hold down the Button for turning the radio on or off.
Please! Please, make an option to turn this feature of.
I see no sense for turn on prevention...
Preventing accidentally turn offs is understandable, but even this shoud be configable.
Everyone with te

[2019-09-25 01:41] MRC3742 opened #6826 "Failsafe Not Set Warning shown when switching between models using Multi Module"
**Describe the bug**
When changing from a model using Multi that has a failsafe option set to a model using Multi with no failsafe option available the second model will start to load and stop with the Failsafe Not Set warning screen, requiring you to press any button to continue.

**To Reproduce**
1. Load first model with external Multi selected and a Protocol that has a Failsafe Mode Option, (Su

[2019-09-25 05:35] 3djc commented on #6825
You see no sense, it doesn't mean that there isn't. Anyhow configurable in 2.3

[2019-09-25 05:35] #6825 closed, assigned to nobody

[2019-09-25 05:57] robustini commented on #6775
I'm sorry Andre, i've explained myself wrongly, I do not mean absolutely that it has to stop transmitting, but simply warn as in 2.2.4, If the user is warned he can do something, if he is not warned he risks compromising the module.

[2019-09-25 10:28] 3djc commented on #6826
You found a nice and technicaly chalenging issue ! Reproduced, working on a fix

[2019-09-25 13:19] MRC3742 commented on #6826
It was also challenging to describe but you were able to reproduce it, so I must have explained it correctly. I have another less critical one but will wait until this gets resolved before opening.
Seems you are all quite busy getting this version ready for a full Release.

Thanks for your quick response to this issue. - Rich

[2019-09-25 17:48] MRC3742 opened #6831 "Compile 2.3 using QT Creator-Windows full "install" does not install needed Qt*.dll files"
**Describe the bug**
Compiling using Qt Creator 5.7.1 and MinGW 5.3.0 on Win7 32bit will compile correctly but doing a full windows install will not install any of the Qt*.dll's to the same directory. This causes Companion unable to start because of the missing files. This "install" build worked properly compiling in 2.2 but since I started building 2.3 a few months ago it has not worked properly.

[2019-09-26 15:42] WillyZehnder commented on #6518
I have an external module installed and use the power of that connector for the internal Trainer-receiver - and it works. But that receiver is always running as soon as I activate the external module - also when I don't need a Trainer-signal.
So the idea of robthomson to activate the SPORT-connector per model is much smarter, because the receiver could just be switched on if it's needed.

[2019-09-26 15:56] WillyZehnder commented on #5636
Same problem with my X9E as master (OTX 2.2.3) - it took a weekend 'til I supposed a OTX-problem :o(

[2019-09-26 16:40] sande005 opened #6833 ""Throttle trim idle only" effects elevator using cross trim when all trims at neutral"
With cross trims enabled, and all trims at neutral, checking "Throttle Trim Idle Only" introduces significant change to Elevator neutral output.  See attached simple model file illustrating.    Uncheck "Throttle trim idle only" to restore normal operation.  (Rename file to ".otx" for Companion).

**Expected behavior**
As with other cases involving this function, it should be aware of which trim is

[2019-09-26 17:30] MRC3742 commented on #6833
Isn't this the same problem as discussed in #5635 ?
Looks like it was fixed in # 5664 but was reverted and Issue 5635 was reopened for discussion.
Also shows milestone has been changed from 2.3.0 to 2.3.x 16 days ago.

So i think this is a known problem?

[2019-09-26 17:58] kilrah commented on #6833
Duplicate

[2019-09-26 17:58] #6833 closed, assigned to nobody

[2019-09-27 03:43] Hillgoonfpv opened #6834 "OpenTX 2.3.0RC5 X9D 2019 not booting"
**General information**
 - OpenTX version 2.3.0RC5
 - Hardware Frsky X9D+ 2019

After flashing firmware, radio will not boot. While holding the power button the splash screen shows but disappears when you let go but it never has a backlight.

[2019-09-27 05:03] 3djc commented on #6834
Looks like you are flashing a wrong firmware. What is the exact name of the firmware file ?

[2019-09-27 09:43] lshems commented on #6814
Ok. I'll try and make a demo script. Something has changed between RC1 and the RC4

[2019-09-27 13:09] warbird11 opened #6838 "ACCST D16 not binding with integrated receiver Taranis X9D+ 2019"
If I want to bind one of my mini quad with crazybee F3/F4 board and integrated FrSky receiver it does not bind. I’m using ACCST D16 mode in the new Taranis plus 2019.
If I use my irangex irx4 multi module and ACCST D16 it binds and also with my old X9D (no plus) it binds using ACCST D16.

An original FrSky X8R receiver can also be bind to the new X9D+ 2019.

To reproduce just try to bind one of th

[2019-09-27 13:10] 3djc commented on #6838
We understand what you say, but this as nothing to do with OpenTX, but is rather a choice made by FrSky. Please contact them directly about that

[2019-09-27 13:10] #6838 closed, assigned to nobody

[2019-09-27 13:16] warbird11 commented on #6838
You're fast! Wow ;-)
ok thx for the hint! Will do so....

[2019-09-27 14:24] gretel opened #6839 "cosmetical: duplications in list of contributors to opentx"
it's just a cosmetical issue.. the list of contributors in https://github.com/opentx/opentx/blob/2.3/CREDITS.txt has many dupes.
please have this sorted and uniquely permuted list:

[code]

[2019-09-27 21:17] RookFPV opened #6840 "Menu navigation"
Bf.lua - When in the menu e.g. VTX I want to change e.g. channel, I can't slide down, I can only navigate only up

Crossfire.lua - Navigation up or down is reversed ... when I move the cursor up the menu goes down

**General information**
Betaflight Script 1.3.0
 - OpenTX version (2.3.0)
 - Hardware Frsky X9D+
 - OpenTX Companion 2.3.0 windows

[2019-09-27 23:52] mpjf01 commented on #6839
Why? It's just added work and if someone donates many times and his name appears many times it's useful information.

[2019-09-28 01:36] gretel commented on #6839
@mpjf01 in a plain text file - how can you tell who did donate multiple times and who is listed multiple times for a single donation?

[2019-09-28 02:30] MRC3742 commented on #6826
Closing as this problem has been resolved in #6829 and has been merged into Final Release 2.3.0

[2019-09-28 02:30] #6826 closed, assigned to 3djc

[2019-09-28 06:15] kilrah commented on #6839
`sort CREDITS.txt | uniq -c | sort -r` ?

[2019-09-28 07:58] #6834 closed, assigned to nobody

[2019-09-28 07:59] bsongis commented on #6834
Please reopen if needed

[2019-09-28 08:06] twistedwings opened #6841 "Synchronize SD hangs"
Synchronize SD syncs forever...

![image](https://user-images.githubusercontent.com/562809/65813561-4dbd9880-e1d7-11e9-9a79-374225d8ae7f.png)

After 1 hour I aborted the sync.

OpenTX 2.3.0
Taranis Q X7
Companion 2.3.0

[2019-09-28 09:36] 0815Creeper opened #6842 "RTC Battery Voltage wrong value"
**Describe the bug**
on my x9e, the rtc voltage in the hardware tab is displayed to be 1.99V. When I check with a multimeter (with radio on), the true voltage reads as 3.0V. I got no problems with the date and time keeping. On every boot, the RTC-warning is displayed (which is massivley annoying)

**General information**
 - OpenTX version (e.g. 2.3.0)
 - Hardware (Frsky X9e)

[2019-09-28 09:38] 3djc commented on #6842
Working fine here with production X9E and 2.3.0, so different versions of X9E must exist

[2019-09-28 10:35] notlebowski opened #6843 "Companion sync misses the log level "Updated/Created""
The Companion sync in 2.3.0 has different logging capabilities:

- Skipped
- Created
- Updated
- Errors only

When I sync the SD-Card with my computer I would like to see the files it adds **and** the ones it updates. When I set it to "updated" I will never see the files it created and the other way around.

Could the log level "Created/Updated" be added as a log level?

[2019-09-28 16:09] 3djc opened #6845 "Emergency mode on X9D+"
Somebody with no access to Github sent me this

[2019-09-28 18:28] nemoxeba opened #6847 "Companion on 32 bit linux"
will it still support 32 bit linux?
thanks

[2019-09-28 18:29] nemoxeba commented on #6847
will it still support 32 bit linux?
thanks

[2019-09-28 20:18] kilrah commented on #6847
You can build from source, but we're not supplying 32-bit builds anymore.

[2019-09-28 20:18] #6847 closed, assigned to nobody

[2019-09-28 22:14] aviat40 opened #6848 "Sensor ID with 2.3.0 Horus 12S"
Hello,

With new 2.3.0 version, the sensors Id on a Horus 12S are displayed with 3 numbers.
Example RSSI and RXbt are displayed as 245.. instead of 25.

BUG ?
Thks

[2019-09-28 23:03] RipperDrone opened #6849 "OTX2.3 Voltage / Alt values in display title/top bar are inconsistent / don't save"
When I set  VFAS() for Voltage and Alt() for Altitude in Companion 2.3 and save it to the Taranis X9D+, it still doesn't display any value.

When I manually set VFAS and Alt on Taranis itself, values are displayed properly. However, after loading RC data into Companion 2.3, title bar fields are empty (---) again.

Seems the data consistency for title bar values has not been coded yet?

![image](ht

[2019-09-29 06:19] 3djc commented on #6848
Not necessarely, Sensors in 2.3 can have different sources (internal, external, several receievrs in ACCESS), all that information is 'added" to the sensor ID

[2019-09-29 06:24] aviat40 commented on #6848
Morning,
OK, but where to find this ID description ? just for my info .
Thks

[2019-09-29 07:54] robustini commented on #6842
Same here on Horus X12S, show 1.49V.

[2019-09-29 08:03] m-rik-prog opened #6850 "LUA interpreter for the new X9D+ 2019"
Good morning, sir,
My Luac application works on Horus 10/12 and Q X7 but did not work on X9D+ due to insufficient memory (used for larger screen pixels than Q X7).
Now users tell me that on the new Taranis X9D Plus 2019 (new processor more powerful and with more ROM and RAM) the application finally loads without more problems of insufficient memory (just like with the Firmware Simulator that has n

[2019-09-29 11:30] dev-fred commented on #6842
Same here on X9D, shows 1.62V.
The error message RTC Battery low appeared just after a firmware update 2.3.0 (official release) + a message indicating  CONVERSION of the EEPROM after the restart of Opentx.

[2019-09-29 12:00] Tygrys-1 opened #6851 "ACT switch setting not recognized in companion"
When ACT is set as a switch option in the simmulator or on the radio (i.e. on the mixer), the companion editor changes it to --- after loading the settings. Also, there is no ACT setting in the companion editor.

**To Reproduce**
Set ACT as an switch option in the radio or simmulator, save the settings and open them in the companion.

**Expected behavior**
Companion should have the ACT setting add

[2019-09-29 12:06] 3djc commented on #6851
What exactly do you call ACT ? Not sure we understand what you mean

[2019-09-29 12:17] Tygrys-1 commented on #6851
It is the one of the switch options to choose, like SA-, ON or TELE. I think it is new to 2.3.
For what I gather it is acting like momentary pulse of "true", when the rule or the condition is activated.
Just like ON is true all the time, ACT is true for a moment.
At least I have this setting on the radio as a "Switch" to choose ;-)

[2019-09-29 12:26] hsuq510 opened #6852 "changed value with lua script has no effect"
- OpenTX version 2.3 GA
 - Hardware Frsky X9D+

Changing a value with the minus button on a x9d+ has no effect, the number switch back to the previous value after release the minus button.

[2019-09-29 12:27] 3djc commented on #6852
What script is that ?

[2019-09-29 12:34] 3djc commented on #6842
Please indicate your real voltmeter measured  RTC bat voltage

[2019-09-29 12:35] Tygrys-1 commented on #6851
![obraz](https://user-images.githubusercontent.com/38982807/65832612-5ccf4400-e2c6-11e9-9884-b139af5d3b49.png)

[2019-09-29 12:46] sloper-lloyd opened #6853 "Curve points in one curve changing when editing another curve"
2.2.2 and 2.2.4 same issue
X10S
Opentx Companion

When I edit a curve it corrupts the other curves.
First discovered this when the battery died whilst I was programming my tx when I recharged and restarted it the curve points had changed. So I tried to update firmware to 2.2.4

Now curves points are changing when I edit another curve. I can corrupt 1 or many other curves.

Any ideas I see this as

[2019-09-29 13:04] RookFPV commented on #6852
This problem occurs in the betaflight script,
you have to hold down the button for a long time to return to the value down.
I reported this problem and a similar one related to the crossfire script here #6840

[2019-09-29 13:15] kilrah commented on #6853
You say this is in companion, but you talk of battery... so where is it?

[2019-09-29 13:21] kilrah commented on #6850
Are these people using ACCESS or ACCST?  Telemetry works differently with ACCESS given that multiple receivers can be telemetry sources/destination, so you'll likely have to rewrite some things specifically for ACCESS systems.

You can always distribute separate versions for different radios.

[2019-09-29 13:23] Tygrys-1 commented on #6811
Is it possible to find this dependency in the LUA scripts?

[2019-09-29 13:28] hsuq510 commented on #6852
Yes, correct that the same issue

[2019-09-29 13:39] sloper-lloyd commented on #3822
I have this issue on 2.2.2 and 2.2.4
X10S
Curves when edited affect other curves. Also when turn off and on 'some' curves have changed.

[2019-09-29 14:43] m-rik-prog commented on #6850
Thanks for the information!
Where can I find the documentation that explains what are the differences in the data to be sent with sportTelemetryPush and in the data received with sportTelemetryPop with ACCESS compared to the same data that I have transmitted and received so far with ACCST in order to implement the new ACCESS version?
From what I understand it is only a byte (or some bit) added in

[2019-09-29 15:36] sloper-lloyd commented on #6853
No it doesn't happen using companion. I program using the tx usually.
I have spent hours on this trying to fix it. I got it to work eventually. But there is definitely a bug where data points seem to 'push' onto other curves and get changed after a power cycle.

[2019-09-29 15:39] sloper-lloyd commented on #6853
Noone else seen this its a pretty major issue?
I use up to 32 curves on some of my multi surface winged gliders. Maybe others don't use so many curves with up to 17 data points

[2019-09-29 16:02] kilrah commented on #6853
We have never heard of that before.

Please zip and send the RADIO and MODELS folders from the radio's SD card, and give us some instructions to reproduce.

[2019-09-29 16:17] dev-fred commented on #6842
I have measured 2.625V on the  CR1220 cell.

[2019-09-29 16:40] Allerhopp opened #6856 "X9D Systemmenue/Hardware: serial port function can not be accessed"
X9D 2013
Highlighting and accessing serial port function is not possible in the radio system menue. It is blocked like RTC voltage above, where it makes sense.

Changing the setting with companion works.

[2019-09-29 16:57] kilrah opened #6858 "X9D+ telem display page navigation error"
Cursor disappears for one click after the screen type setting

[2019-09-29 16:58] kilrah commented on #6856
The 2 debug "buttons" can't be selected either

[2019-09-29 17:14] kilrah commented on #6856
X9D only, X9D+ is OK

[2019-09-29 17:15] kilrah commented on #6850
There is no doc as of yet.

[2019-09-29 17:16] #1812 closed

[2019-09-29 17:24] m-rik-prog commented on #6850
Thank you.
From what I understand I can not give users who are complaining, a date when the problem could be solved.

[2019-09-29 17:44] notlebowski commented on #6851
@Kilrah
What does Act do?

[2019-09-29 17:45] 3djc commented on #6851
Any action on the radio triggering inacctivity timer to reset do also triggers Act to be true for a short period of time

[2019-09-29 17:47] notlebowski commented on #6851
Hey.   I requested that years ago
I had some ideas for that

[2019-09-29 18:05] notlebowski commented on #6851
I just looked at that request and now I remember...
I wanted to use it to enable a throttle safety, but I can't do it the way it is implemented now because "delay" can't be more than 25 seconds...

Otherwise I could use this trigger to invoke throttle safety

AND  !Act delay(180s)

At the time I was looking for a trigger that would become true if the inactivity becomes true.
I may still be able to

[2019-09-29 18:05] 3djc opened #6859 "Multi : use new binary signature"

[2019-09-29 18:28] kilrah commented on #6850
Well, even we don't really know all about it. So you'll likely want to source an ACCESS radio and set of equipment and start to investigate.

[2019-09-29 18:30] kilrah commented on #6851
One 8-byte value available with 0.1s increments.

[2019-09-29 18:36] sloper-lloyd commented on #6853
Think the issue occurs if you have a curve set with say 11-13 points then increase the number of points to a higher number say 15-17. If the curve is between other curves (and points are adjusted) then the adjacent curves are messed up. That's the only way I can describe how it occured.

[2019-09-29 20:46] kilrah opened #6860 "From Mike: Shift in X9D/X9D+/X-lite sources"
Telemetry Display Values X9D Plus - 2.3.0.
“Time” displays TX battery value
“GPS” displays TX time. Not sure where "GPS" is coming from because there is no "GPS" sensor showing on the Telemetry page.
Not sure if there are other examples.

[2019-09-30 09:07] 3djc commented on #6842
All this doesn't make much sense yet, as it would suggest that different batches uses different vref, which is news to us and does not make a lot of sense. So in the meantime, while we try to gather more data, a choice to disable the alarm will be added to 2.3.1 in radio/hardware screen

[2019-09-30 09:14] 0815Creeper commented on #6842
wouldnt it be better to add a way to calibrate the rtc voltage just as the battery voltage? or is that not possilbe?

[2019-09-30 09:20] 3djc commented on #6842
Not possible within current data model

[2019-09-30 09:44] kilrah opened #6862 "Companion telemetry simulator not usable with "real" sensors on 2.3"
Lacks support for keeping the source intact and feeding the same one

[2019-09-30 10:58] kilrah opened #6863 "Companion 2.3 missing external module protocols"
For XLite:
R9M
R9M Access
R9M Lite ACCESS
R9M Lite Pro ACCESS
XJT Lite

Not checked others

[2019-09-30 11:15] kilrah commented on #6863
And "R9M Mini" instead of Lite is a string hack that actually sets R9M...

Whole list needs reworking

[2019-09-30 12:05] notlebowski opened #6864 "Companion 2.3.1N1 says there are releases versions"
Maybe fixed already, maybe not...

On startup Companion 2.3.1N1 says there are release versions for this one and proposes to install it. That would of course be 2.3.0

[2019-09-30 12:18] notlebowski commented on #6851
@kilrah
I'm considering to use timer3 and set that to 3 minutes and let ACT reset that each time.
Whenever timer3 = 0 I can use that as a logical switch and that could invoke throttle safety

I think it's a bit ugly to use a timer for that. Do you have a tip for a more elegant solution to get a non-activity trigger that acts like:

L6 ( Thr < -95 ) AND !Act↓ Delay(180s)

It's an extra safety measu

[2019-09-30 12:37] kilrah commented on #6864
Yeah becasue we want people who don't have an explicit reason to stay on nightlies to use release.

[2019-09-30 12:37] #6864 closed, assigned to nobody

[2019-09-30 12:38] kilrah commented on #6851
You can stack 2 LSs and declare that 50sec is enough...

[2019-09-30 12:39] #1836 closed

[2019-09-30 13:00] kilrah commented on #6853
Can we have your files as mentioned in my previous posts?

[2019-09-30 13:02] Maceyee commented on #6863
Is this why my r9 module won't respond to bind command

[2019-09-30 13:15] kilrah commented on #6863
If you set the proper module type on the radio then no.

[2019-09-30 13:46] Maceyee commented on #6863
how do i contact you via e-mail i would really appreciate some help here

[2019-09-30 14:04] MIKE-DAILEY opened #6866 "2.3.0 RAS Issues"
There might be something not right with 2.3.0 RAS:

RAS display ---/---on systems using Hardware Menu
It is 0/--- on the X9D Plus 2019
It is 0/--- on the X-Lite - Pro RAS working with external antenna selected and RAS script works.
It is ---/0 on the X9D Plus – RAS number works, but not RAS script.  Should the RAS number be on the right or left?

RAS on Statistics /Analogs
X12S Developer – RAS not

[2019-09-30 14:29] twistedwings opened #6867 "No SI/SJ support on X7"
according to #5330 "X7/X10/X12: Support for additional switch inputs"
they should be there in 2.3 but they are not, neither in companion nor the radio.

Taranis X7
OpenTX 2.3.0

[2019-09-30 14:32] 3djc commented on #6867
Have you declared them in RADIO/HARDWARE on your radio ?

[2019-09-30 14:37] ParkerEde opened #6868 "Retrieve settings from profile - error message in companion"
after updating to 2.3.0 (companion and horus X10S)
1. Button click: read models and settings from radio
2. Button click: Edit Radio settings
3. Button click: Store calib. and hw settings in selected profile
4. Button click: Retrieve calib. and hw settings from profile
Error message: Wrong data in profile, hw related parameters were not retrieved

[2019-09-30 14:51] ParkerEde opened #6869 "Telemetry Simulator does not work anymore"
after updating to 2.3.0 companion and horus x10
1. Button click: read models and settings from radio
2. Button click: Simulate Radio
3. Button click: Telemtry Simulator
Checkbox  "Simulate" is activ, some values are filled e.g. RxBt
The Telemtry widget in Horus Simulator shows only "0"  e.g. RxBt

Telemtry in Horus X10 is fine

The same procedure in 2.2.4 works fine

[2019-09-30 14:51] twistedwings commented on #6867
now I have and it does work.
Thank you!

[2019-09-30 14:51] #6867 closed, assigned to nobody

[2019-09-30 14:52] ParkerEde commented on #6868
![otx hardware profile](https://user-images.githubusercontent.com/15068446/65890127-b147f180-e3a2-11e9-86ff-95ca6d5cfd2c.jpg)

[2019-09-30 14:58] ParkerEde commented on #6869
![otx telemtry simulator](https://user-images.githubusercontent.com/15068446/65890621-75f9f280-e3a3-11e9-8d67-b56604558d9f.jpg)

[2019-09-30 15:44] teckel12 opened #6870 "OTX 2.3 EVT_VIRTUAL_MENU not defined on Jumper T12?"
Not sure if it's on purpose or an oversight, but `EVT_VIRTUAL_MENU` is not defined in Lua on the Jumper T12 in OpenTX 2.3.  It seems a [test script](https://github.com/opentx/opentx/blob/2.3/radio/util/lua/lua_event_test.lua) was created to verify all the basic functions are available on each target.

Disclosure, I don't have the Jumper T12, I'm testing this from the Companion simulator.

[2019-09-30 15:48] RipperDrone commented on #6849
all good now, tested with 50+ models in memory :-)

[2019-09-30 15:48] #6849 closed, assigned to 3djc

[2019-09-30 15:49] RipperDrone commented on #6860
confirmed today on X9DP 2013, GPS displays time.

[2019-09-30 15:51] sloper-lloyd commented on #6853
The model in question is Freestyler 5

________________________________
From: Andre Bernet <notifications@github.com>
Sent: 30 September 2019 14:00
To: opentx/opentx <opentx@noreply.github.com>
Cc: sloper-lloyd <lloyd_magikarp@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [opentx/opentx] Curve points in one curve changing when editing another curve (#6853)

Can we have your files a

[2019-09-30 17:04] notlebowski commented on #6851
@kilrah Yes, I think I will do that. 50s is a long time to have both inactivity and no throttle.

[2019-09-30 17:18] #6851 closed, assigned to nobody

[2019-09-30 17:19] kilrah commented on #6853
Can't send mail attachments to github.

[2019-09-30 17:21] kilrah commented on #6869
Duplicate of #6862

[2019-09-30 17:21] #6869 closed, assigned to nobody

[2019-09-30 17:28] kilrah opened #6871 "T12 module settings issue"
Found on forum, r9m choices are bad (shouldn't have both EU and 868) and inability to bind

https://www.youtube.com/watch?v=qVVoS5s2oC0

[2019-09-30 17:29] notlebowski commented on #6811
Its strength would come from having it all the time (in Companion)
If suddenly one of the switches turns red, you may be doing something wrong.

[2019-09-30 17:33] dev-fred commented on #6842
Thanks for this workaround, it's better than coming back in 2.2.4

[2019-09-30 17:42] dev-fred commented on #6842
I have checked this new firmware 3.0.1on my X9D,
I have a new ligne Check RTC voltage with a selection box but I can't select this box to uncheck the default choice ?
I am able to uncheck Filtre ADC or ON/OFF Port série just after or Calib. bat above.

[2019-09-30 18:02] sloper-lloyd commented on #6853
Where do I send the attachment ?

[2019-09-30 18:04] sloper-lloyd commented on #6853
[29-09-19_models_settings.zip](https://github.com/opentx/opentx/files/3672600/29-09-19_models_settings.zip)

[2019-09-30 18:32] dev-fred commented on #6842
Same behaviour in the simulator so nothing specific to my hardware

[2019-09-30 18:50] QuaxBruchpilot opened #6872 "Taranis qx7: Switches SI / SJ"
These Switches are not supported (EEPROM 219). Testscreen: SI is , but SJ is not displayed

[2019-09-30 18:50] Eldenroot commented on #5537
+1

[2019-09-30 18:51] Eldenroot commented on #2495
+1

[2019-09-30 18:52] Eldenroot commented on #960
+1

[2019-09-30 18:54] 3djc commented on #6872
Duplicate #6867 ?

[2019-09-30 19:37] pelle17b opened #6873 "2.3.0 on Taranis QX7 Switches Si and SJ for p400 and p401. Switch changes are not detected"
**Describe the bug**
I have a Taranis X7 that is modified with 2 position toggle switches connected to p400 and p401. I have configured Si and SJ as 2POS in the HARDWARE menu.

1. No matter what position the switches are in I get a switch warning for Si and SJ when i start the radio.
2. If I configure any of the Si and SJ switches as the SOURCE in the INPUTS menu for a model, there is no reaction

[2019-09-30 19:45] QuaxBruchpilot commented on #6872
I think not. I declared the switches SI/SJ as push bottons. On the test-screen the SI is the last line but without testfunction. SJ is not displayed on the test-screen. It is not possible to scroll further.

[2019-09-30 19:45] #6872 closed, assigned to nobody

[2019-09-30 20:53] eovnu87435ds opened #6874 "SD Card Contents Link for X10 Express in Companion- Wrong URL"
If you open the download window, and try to download the SD Card contents for the X10 Express, Companion TX brings you to https://downloads.open-tx.org/2.3/release/sdcard/opentx-x10express/ when it should actually bring you to https://downloads.open-tx.org/2.3/release/sdcard/opentx-x10-express/

[2019-10-01 05:13] 3djc commented on #6874
Fixed, thanks for the report

[2019-10-01 05:13] #6874 closed, assigned to nobody

[2019-10-01 05:55] 3djc commented on #6870
True, is is the current situation:

EVT_VIRTUAL_MENU |   |  
EVT_VIRTUAL_MENU_LONG |   |  
 
EVT_VIRTUAL_NEXT | KEY_RIGHT |  
EVT_VIRTUAL_NEXT_REPT | KEY_RIGHT LONG
EVT_VIRTUAL_PREVIOUS | KEY_LEFT |  
EVT_VIRTUAL_PREVIOUS_REPT | KEY_LEFT LONG
 
EVT_EXIT_BREAK | KEY_EXIT |  
EVT_VIRTUAL_ENTER | KEY_ENTER |  
EVT_VIRTUAL_ENTER_LONG | KEY_ENTER LONG
 
EVT_VIRTUAL_PREVIOUS_PAGE | KEY_UP LONG
EVT_VIRTU

[2019-10-01 06:40] robustini commented on #6866
Already reported...

https://github.com/opentx/opentx/issues/6775

[2019-10-01 06:50] kilrah commented on #6866
Indeed, duplicate

[2019-10-01 06:50] #6866 closed, assigned to nobody

[2019-10-01 07:51] #6860 closed, assigned to kilrah

[2019-10-01 07:51] #6856 closed, assigned to kilrah

[2019-10-01 08:02] #6871 closed, assigned to 3djc

[2019-10-01 09:26] robustini opened #6876 "[2.3.0] - ISRM D16, missing antenna selection?"
I don't know if it's a bug, coming from the X12S where it was possible to select the antenna (INT or INT+EXT) I don't see this option in the ISRM module set in D16 on Horus X10S Express ACCESS.
At present it would be useful to understand if use all three antennas or only the two internal ones, in the first case removing the external one could damage the module without any warning since currently t

[2019-10-01 10:36] ParkerEde commented on #6876
Hi, since 2.3.0 it's possible to set the antenna configuration in hardwaresettings . You can choose between "internal", "external" "ask" and "per model".
If you want to set it in the modelconfiguration, please choose "per model". X10 can only use internal or external antenna. Not both at the same time.

Regards

[2019-10-01 11:06] robustini commented on #6876
I don't see this option inside "HARDWARE" on my X10S Express with 2.3.0.

[2019-10-01 11:11] kilrah commented on #6842
Will be OK in the next nightly, was an unrelated issue on that screen for the old X9D that got fixed in #6860 merged a couple of hours ago.

[2019-10-01 11:13] kilrah commented on #6876
For ACCESS modules the antenna gets selected in the "Options" page.

[2019-10-01 11:13] #6876 closed, assigned to nobody

[2019-10-01 11:35] dev-fred commented on #6842
updated: Works fine with 2.3.1N3 Thanks a lot

[2019-10-01 12:00] MIKE-DAILEY commented on #6866
That does not cover this part:

RAS display ---/---on systems using Hardware Menu
It is 0/--- on the X9D Plus 2019
It is 0/--- on the X-Lite - Pro RAS working with external antenna selected and RAS script works.
It is ---/0 on the X9D Plus – RAS number works, but not RAS script. Should the RAS number be on the right or left?

[2019-10-01 12:29] kilrah commented on #6866
It's supposed to be Internal/External
The other issue encompasses revising RAS on all platforms.